[2015-12-14 22:41] vongkim opened #1 "Suggest new default color for Icon component"
Can the default color for the Icon component be something other than white/black? Currently it is white, which can be a bit confusing to some. As most default apps are created with a white background and it may appear to some users that the Icon component is not working due to this.

What do you think?

[2015-12-15 09:48] Ehesp commented on #1
Cheers for the PR. Makes sense!

[2015-12-15 09:48] #1 closed

[2015-12-18 16:16] mrcasals opened #3 "Icons are not rendering"
This is a screenshot of an avatar:

![](https://i.imgur.com/4e0xsdb.png)

This is what I'm using to render it:

[code]

I've made sure I copied the correct font file and restarted the package, but it still doen't load. Any idea?

Thanks!

[2015-12-18 16:42] Ehesp commented on #3
Hmm strange, try a few others... Potentially the icon package might be out
of date and not have some newer ones.
On 18 Dec 2015 17:16, "Marc Riera" <notifications@github.com> wrote:

[2015-12-18 16:44] mrcasals commented on #3
If I enter a random string, the warning shows a list of all available
icons. "face" is there :/

On Fri, Dec 18, 2015 at 5:42 PM Elliot Hesp <notifications@github.com>
wrote:

--
Marc Riera

[2015-12-18 16:49] Ehesp commented on #3
Hmm okay, which version of react native are you running? If you check in the build.gradle file in the android dir it'll tell you the exact version.

[2015-12-18 16:53] mrcasals commented on #3
Oh, it looks like I missed fixing this file when upgrading to RN 0.16,
sorry. Will check if this is the source of the bug.

On Fri, Dec 18, 2015 at 5:49 PM Elliot Hesp <notifications@github.com>
wrote:

--
Marc Riera

[2015-12-18 16:56] Ehesp commented on #3
Yeah 0.16 introduced auto font loading, also make sure the directory is called 'fonts' (note all lower case) too.

[2015-12-19 11:45] mrcasals commented on #3
Hi, I rechecked it and I'm really using the correct RN version in the build.gradle file:

[code]

[2015-12-19 16:54] Ehesp commented on #3
Strange then. If you head over to
https://github.com/oblador/react-native-vector-icons try running through
the installation guide on there, it should be getting loaded in for you.
On 19 Dec 2015 12:45, "Marc Riera" <notifications@github.com> wrote:

[2015-12-20 20:16] dgilperez commented on #3
I'm having the same problem. Same version of RN and latest version of react-native-vector-icons. I followed up the installation guide a couple of times, no success. @mrcasals did you solve the issue?

[2015-12-20 20:19] dgilperez opened #4 "Example app"
Hi!

Are you planning to release an example app, possible following https://github.com/binggg/MaterialReactNative examples?

I see you changed a good bunch from original repo, it good be great to have examples (even over documentation).

Thanks!

[2015-12-20 20:24] Ehesp commented on #3
Okay I'll look at this tomorrow - I've got it working myself so hopefully something simple.

[2015-12-20 20:29] Ehesp commented on #4
Yeah I've got quite a lot to push, which I plan on doing tomorrow.

Also have a demo app which I'm testing on, some examples below... Still a bit of work to do but shouldn't be long.

![image](https://cloud.githubusercontent.com/assets/842078/11919931/37adfe44-a758-11e5-9838-90e171b3b48e.png)

![image](https://cloud.githubusercontent.com/assets/842078/11919964/41873d36-a758-11e5-85d9-ef237bc0817e.

[2015-12-20 21:05] dgilperez commented on #4
That looks awesom !!! I'm eager to have a look into it ;)

[2015-12-21 12:55] Ehesp commented on #4
I've pushed the changes to 0.2.0-rc - I'll hold off pushing to NPM until I've tested a few more things and got a demo up and running.

[2015-12-21 17:33] dgilperez commented on #4
:clap:

You're fast, man!

[2015-12-21 20:05] Ehesp commented on #3
Icons work here on both 0.16 & 0.17... However I did upgrade the vector icons package (https://github.com/oblador/react-native-vector-icons/releases/tag/v1.0.3). Maybe that was causing the problem. The latest release (0.2.1) has this in it, so if you could give that a go, ta.

[2015-12-21 20:21] Ehesp commented on #4
Example app is up: https://github.com/react-native-material-design/demo-app

Need to get it downloadable (I tried quickly but didn't really work).

[2015-12-23 03:39] wxyyxc1992 commented on #4
It's awesome, Does it work for both ios and android or only android?

[2015-12-23 09:25] Ehesp commented on #4
I've not tried it on iOS. Part of the problem is that it uses some Android only React Native things, which of course wouldn't work.

[2015-12-23 13:35] #4 closed

[2015-12-23 13:52] Ehesp opened #5 "0.3.0 Release"
- [x] ~~Swap out Ripple component with [TouchableNativeFeedback](https://facebook.github.io/react-native/docs/touchablenativefeedback.html).~~https://github.com/react-native-material-design/react-native-material-design/commit/042c8970d218eead57056d0ce30c62c3e6a75933
- [x] ~~Create a generic CircularRipple component (for Checkboxes & Radio Buttons)~~ https://github.com/react-native-material-design/

[2015-12-24 09:55] yonibot opened #6 "Can we get more info on this repo?"
How does this differ from mrn? Is mrn not actively maintained anymore?

[2015-12-24 09:58] Ehesp commented on #6
MRN wasn't being maintained, and there was quite some work to do on it from linting to bug fixes. I forked it to an organisation with many bug fixes, however I couldn't get a response from the maintainer so was unable to do anything with it on the NPM side.

Hence why I created this :)

[2015-12-25 17:11] bozzmob opened #7 "Expose the sample apk to users"
Hi,

It would be great if you expose the sample apk(I see a project [here](https://github.com/react-native-material-design/demo-app), but add it to this repo in README or docs) of the sample project to the users. You can get more users to really have a feel of the app and start using it.

Few suggestions-

1. Create a robust example app with all features included
2. Release APK
3. Would it be to a

[2015-12-25 17:25] Ehesp commented on #7
Hey,

Yeah I do plan on making the APK from the app, just haven't got around to doing it yet! Feel free to help out with it. I'm working on the core repo atm for 0.3.0 release so would prefer to focus on that

[2015-12-25 18:08] bozzmob commented on #7
Sure @Ehesp . Will do the needful and contribute  :+1:

[2015-12-25 20:28] Ehesp commented on #7
Nice one - if you do, could you also put the instructions to create the APK too? Perhaps in the README of the demo, cheers!

[2015-12-26 10:49] bozzmob commented on #7
I will.

[2015-12-27 08:30] bozzmob commented on #5
I wanted to know, what does - " Drawer menu items are not centered" exactly mean?

I see the menu is using the **center** property. And as per the padding and other css property, in the demo app, it looks pretty ok.

[code]

Style-
[code]

[2015-12-27 08:42] Ehesp commented on #5
The line height is off:

![image](https://cloud.githubusercontent.com/assets/842078/12009573/c1f5fa94-ac75-11e5-9016-6d26d0ebfab4.png)

The icons horizontal does not match with the texts horizontal path.

[2015-12-27 12:19] bozzmob commented on #5
Can you please tell me what does - "Drawer menu items should support labels" mean?
I would like to finish up the Drawer enhancements and features, which are like 4 of the tasks.

Basically I am looking forward to be an active contributor to this repo. Would like to help you/your plan in releasing faster :)

[2015-12-27 12:27] Ehesp commented on #5
Sure, it's not actually in the spec on [the website](https://www.google.com/design/spec/patterns/navigation-drawer.html#navigation-drawer-behavior), however they are:

![image](https://cloud.githubusercontent.com/assets/842078/12010195/18ff81f6-ac95-11e5-8d49-a9be757daa74.png)

Good place to see them is in the GMail app.

[2015-12-27 12:34] bozzmob commented on #5
Got it! :) Thanks for the info.

[2015-12-27 13:24] Ehesp commented on #5
Updated!

[2015-12-27 17:44] bozzmob commented on #5
Can you shed some light on - "Drawer should respond to theme changes correctly"? What exactly should happen in this?

[2015-12-27 17:55] bozzmob commented on #5
Are you referring to changing the image to colour? The image looks good. Doesn't it?

[2015-12-27 19:09] Ehesp commented on #5
So you can pass a THEME into the drawer, light and dark. If it's dark the background would be the dark grey color and the text & icons white. Right now the variables are hard coded, so they'd need to adapt to the theme just like Buttons, Checkboxes etc. But yes the image does need changing too.

[2015-12-27 19:41] bozzmob commented on #5
Just one final clarification, "If it's dark the background" would mean, if the colour is DARK GREEN or DARK BLUE(etc.,), then, the Drawer's list should switch colour to dark grey background with white fonts & white text?

[2015-12-27 19:43] Ehesp commented on #5
It should follow the spec here - I believe the light theme might need some tweaks too.

![image](https://cloud.githubusercontent.com/assets/842078/12011742/18a90532-acd2-11e5-9970-25296c2ad11f.png)

[2015-12-28 08:06] bozzmob opened #10 "Ripple effect on the Drawer"
Just noting it down here so that this can be a part of 0.4.0 release.

The left menu Drawer doesn't have the ripple effect yet.

Once the common component for ripple(I see there is some code re-factoring done in 0.3.0) is complete, we can use the same here.

From the spec-
![Ripple Effect](https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bzhp5Z4wHba3ekxzSGt

[2015-12-28 08:10] bozzmob commented on #5
Hi @Ehesp , I am not sure I can take up the Theme feature for now. But, I would like to give a try on - "Drawer menu items should be broken into sections to allow for proper padding". What sections are we referring to exactly? The components and Config are the 2 sections available right now.

[2015-12-28 10:37] Ehesp commented on #5
This one is means that the menu items on the nav drawer are spaced incorrectly. They each have their own margin, but infact they should be broken into groups which have margin, but the items themselves do not.

Problem with the current implementation is that there is just individual menu items, so you cannot group them. See below:

![image](https://cloud.githubusercontent.com/assets/842078/1201746

[2015-12-28 20:26] Ehesp commented on #10
Added this into the Drawer changes: https://github.com/react-native-material-design/react-native-material-design/blob/master/lib/Drawer/Section.js#L93

[2015-12-28 20:34] #10 closed

[2015-12-29 04:47] pewh opened #11 "Error 'nativeBackgroundAndroid' on Button"
Hi,

I got error on `Button` when use master branch. Previously it's work on version 0.2.1.

![error](https://cloud.githubusercontent.com/assets/881358/12029619/e515427a-ae21-11e5-9f34-375009fc57cd.png)

[code]

package.json
[code]

Tested with Genymotion Samsung Galaxy S3 4.1.1 API 16
OS: Win 8.1 32bit

[2015-12-29 05:12] bozzmob commented on #10
Awesome! :+1:

[2015-12-29 05:13] bozzmob commented on #5
Woohoo! I guess we are almost in a pretty good shape now! Matter of time, 0.3.0 will be out.

[2015-12-29 08:54] Ehesp commented on #11
Right so this is because I swapped out the Ripple component with the RN Ripple, which only supports API 21 upwards.

I can look at bringing it back in if I can somehow get the api version, but 16 is an old api version?

[2015-12-29 09:20] pewh commented on #11
Currently you can get android api version via [Android build class](https://github.com/GertjanReynaert/react-native-device/issues/16) or use [react-native-device-info](https://github.com/rebeccahughes/react-native-device-info). But it will make this package installation more complicated.

api 16 is an old version, but [many devices](http://developer.android.com/about/dashboards/index.html]) still

[2015-12-29 09:27] Ehesp commented on #11
It's okay, I can do something like this:

- Get the version using the `Platform` module from RN.
- Get the API level from http://developer.android.com/guide/topics/manifest/uses-sdk-element.html
- Create a helper to detect where certain "features" are supported, such as Ripple & maybe elevation.
- If it's not supported, use the Polyfil.

Performance wasn't actually as much of an issue, it was more

[2015-12-29 09:48] pewh commented on #11
Thanks, @Ehesp

`<View elevation={4}><Text>foo</Text></View>` doesn't throw any error. It also render text & no warning on console.

[2015-12-29 13:13] Ehesp commented on #11
Hi @pewh

I've just committed to master. I've tested this as best I could but I was unable to get my emulator working on API 16.  Basically it checks whether the device has the correct API level for a feature, and if not returns a polyfill for it.

The Ripple pollyfill had to be changed a bit, as I also wanted to implement `onLongPress` and `elevation` too. I've implemented this on Button & Drawer

[2015-12-29 16:26] Ehesp commented on #11
Got API 16 working... Added more fixes in, including a border on components if elevation isn't available.

[2015-12-30 09:05] pewh commented on #11
Sorry for long delay. I've testing on several devices with API 16 and everything is work. Thanks for the great work :+1:

[2015-12-30 09:05] #11 closed

[2015-12-30 09:16] Ehesp commented on #11
Good to hear, I'm not sure the `onLongPress` is how I want it yet. I need to properly dig into the logic behind it as it seems to be functioning differently to native at the moment.

[2015-12-31 05:51] bozzmob commented on #7
@Ehesp Can I be added as a collaborator to this repo? I wanted to release the demo apk as discussed.

[2015-12-31 12:50] Ehesp commented on #7
Should have an invite.

[2016-01-03 17:04] Ehesp opened #12 "0.4.0 Release"
- [ ] Refactor List component

[2016-01-03 17:04] #5 closed

[2016-01-03 17:42] bozzmob commented on #6
Can this be closed?

[2016-01-03 17:43] bozzmob commented on #3
Considering its fixed post 0.2.1, will be closing this issue.

[2016-01-03 17:43] #3 closed

[2016-01-04 10:58] avishayil opened #13 "Using navigator to Welcome component"
Hi,
I would like to be able to use the navigator FROM the welcome screen, in order to change scene from the screen itself to another screen.

Basically I have a list of cards on the Welcome screen, which the link on each card supposed to go to another component (MyComponent.js, placed on the scenes folder), with different props.

Any ideas?

[2016-01-04 11:05] Ehesp commented on #13
Hello

In the demo, the navigator is created by reference into the context of the app, meaning you can access it from any child component of the `index.android.js` file. In this case, the entire app.

https://github.com/react-native-material-design/demo-app/blob/master/src/scenes/Navigation.js#L81

The link above shows how you can grab it from context, and use it wherever you like.

[2016-01-04 11:33] avishayil commented on #13
How can I access them outside of the render() function?

[2016-01-04 11:34] Ehesp commented on #13
Same way you'd access props or state.

[code]

[2016-01-04 12:07] avishayil commented on #13
Thanks for the swift response and help!

I tried too hard and couldn't figured it out, i'm sure i'm missing here something.
Here's my welcome screen code, i'm using react-native-gifted-listview module as my refreshable list component.

When i'm trying to console.log(navigator) i'm getting undefined.
Maybe you'll be able to help me out with this.

[code]

[2016-01-04 12:11] Ehesp commented on #13
No problem!

`this.context` is an object, containing the navigator and drawer references. You need to do either:

`const { navigator } = this.context;` or
`const navigator = this.context.navigator;`

[2016-01-04 12:17] avishayil commented on #13
Tried them both, nothing works. headache.
Mind if I wrap the whole code in a zip and send it to you?

[2016-01-04 12:19] Ehesp commented on #13
Ah wait, you're missing something:

[code]

That should work now, I hope ha.

[2016-01-04 12:21] avishayil commented on #13
Can't find variable: PropTypes

[2016-01-04 12:23] Ehesp commented on #13
You need to import it...

`import React, { Component, **PropTypes**, View, Text, Image, IntentAndroid } from 'react-native';`

[2016-01-04 12:24] avishayil commented on #13
Works, but returns the WorkerNavigator instead of the navigator.

[2016-01-04 12:50] Ehesp commented on #13
Erm, WorkerNavigator? Can you dump the console.log of the navigator here?

[2016-01-04 13:03] avishayil commented on #13
_renderCardView(rowData) {
      const theme = AppStore.getState().theme;
      console.log(navigator); // prints the following.
      return (
        <View>
            <Card>
                <Card.Media
                    image={<Image source={{uri:rowData.image}}/>}
                    overlay

                    <Text style={[TYPO.paperFontHeadline, COLOR.paperGrey50]}>{rowData.title}</Text

[2016-01-05 20:22] bozzmob commented on #12
Anything more planned for 0.4.0? I guess you are handling the List Refactor.

[2016-01-05 20:36] Ehesp commented on #12
The GridComponent? Also I need to debug a Ripple bug where the state persists. Any other ideas I'm open to!

[2016-01-05 21:00] dgilperez commented on #12
What about a FAB?

[2016-01-05 21:02] Ehesp commented on #12
Ah yeah. How should the position of it be done? Simply render the FAB and
let the user decide where to place it?
On 5 Jan 2016 9:00 p.m., "David Gil" <notifications@github.com> wrote:

[2016-01-05 22:47] dgilperez commented on #12
Hmm not really sure. Specs about fabs say how they should be positioned
with relation to other objects, and they seem to be always bottom-right ...
Maybe we can style them lime that by default and let the user override?

El mar, 5 de enero de 2016 22:02, Elliot Hesp <notifications@github.com>
escribió:

[2016-01-06 02:00] pewh commented on #12
What about a Bottom Sheet?

[2016-01-06 05:12] bozzmob commented on #12
Yes. The FAB has to be at the bottom-right according to the [spec](https://www.google.co.in/design/spec/components/buttons-floating-action-button.html#).
Though FAB comes in handy, but, personally I somewhat like this article - [Why the Floating Action Button is bad UX design](https://medium.com/tech-in-asia/material-design-why-the-floating-action-button-is-bad-ux-design-acd5b32c5ef#.efez2ak4q)

@

[2016-01-06 05:16] bozzmob commented on #12
With respect to Grid View, I will be implementing this first (from the [spec](https://www.google.co.in/design/spec/components/grid-lists.html#))-

![image](https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7YTU2ekJPMU80MVU/components_grids_usage1.png)

[2016-01-06 07:50] Ehesp commented on #12
@pewh problem with a bottom sheet is that currently there's no way to force a component to the top of everything else (I believe).

[2016-01-06 09:42] Ehesp commented on #7
@bozzmob Can you update the README with details of how to compile a new APK please.

Also, the APK which is downloaded doesn't work as it's still trying to download the JS bundle... any ideas on how we can compile it to prod?

[2016-01-06 10:05] bozzmob commented on #7
@Ehesp Yes, I will attach a production APK today. And I will update instructions in README.

[2016-01-06 10:07] bozzmob commented on #12
@pewh @Ehesp There is a way to do that. But, not sure its available on Android yet. We can tweak concepts and code from the Modal and implement it I believe. I have seen such an implementation somewhere. Not sure how good or feasible it is.

[2016-01-06 10:33] Ehesp commented on #13
Okay so I went about and tackled this...

https://github.com/react-native-material-design/demo-app#navigate

Custom implementation which is pretty flexible. Might make it into a lib but could do with testing on it first :)

[2016-01-06 10:38] Ehesp commented on #12
@bozzmob Okay cool - Shall look into it.

What does everyone think of 'Swipe Views with Tabs'? I've got it working on another project using the project mentioned in the list, but had to create a custom tab bar to make it feel native...?

[2016-01-06 14:04] arpu commented on #13
with more cards i get Cannot read property '_currentElement' of null

when i use const { navigator } = this.context;

[2016-01-06 14:21] Ehesp commented on #13
Could you show me the full code?

[2016-01-06 14:28] arpu commented on #13
http://lpaste.net/148531

[2016-01-06 14:40] Salakar commented on #13
@arpu can you also show us your routes file please

[2016-01-06 14:46] arpu commented on #13
is the routes file from the demo-app  nothing changed

[2016-01-06 14:57] Ehesp commented on #13
Could you try replacing the Button with this:

`<Button primary={theme} value="Read this" onPress={() =>  { navigator.forward() }} />`

If that doesn't work, can you paste the output of `this.context.navigator` for us... cheers

[2016-01-06 15:02] avishayil commented on #13
TypeError: Cannot read property 'navigator' of undefined(…)
ExceptionsManager.js:63 Cannot read property '_currentElement' of nullhandleException @ ExceptionsManager.js:63handleError @ InitializeJavaScriptAppEngine.js:80ErrorUtils.reportFatalError @ error-guard.js:28guard @ MessageQueue.js:40callFunctionReturnFlushedQueue @ MessageQueue.js:81onmessage @ debuggerWorker.js:39

[2016-01-06 15:06] Ehesp commented on #13
Try changing:
`_renderCardView(rowData) {`

to:
`_renderCardView = (rowData) => {`

[2016-01-06 15:07] avishayil commented on #13
This solves the issue.

[2016-01-06 15:11] Ehesp commented on #13
Okay so this is because within `_renderCardView(rowData) {`, the class (`this`) isn't bound into that function.  To get around this you could do something in the constructor like:

[code]

However, that to me is a bit stinky, so doing:

`_renderCardView = (rowData) => {` is a cleaner way to bind `this`, using the arrow function:

https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Funct

[2016-01-06 15:19] arpu commented on #13
works for me too thx

[2016-01-06 17:06] arpu opened #14 "fading actionbar"
like this https://github.com/ManuelPeinado/FadingActionBar

and in the movie and music play store google app

is this possible ?

[2016-01-06 17:10] Salakar commented on #14
Should be doable, we'll have a look and get back to you :)

[2016-01-06 17:44] Ehesp commented on #14
I'm sure it will be, but need to think about how the toolbar will cope with this. Currently it's sat at the top of everything as a "master", something like this would need to override it, or provide a way to override it for a current scene... Shall think.

[2016-01-06 17:45] #6 closed

[2016-01-06 19:06] Salakar commented on #12
![jan 06 2016 19 04](https://cloud.githubusercontent.com/assets/5347038/12151748/957020e0-b4a8-11e5-8523-8f734fc99873.gif)

Badge animations done!

[2016-01-06 19:13] bozzmob commented on #12
@Ehesp Yeah! There is a ViewPager component which exists officially. We can make use of react-native-scrollable-tab-view as you have suggested. But, some css changes are needed so that the look and feel is similar to the existing components.

[2016-01-06 19:16] Ehesp commented on #12
Nice work @Salakar, really cool.

@bozzmob I'll do that then as I've already got it on another project. `react-native-scrollable-tab-view` doesn't allow a single tab too, but I've got a way around that.

[2016-01-06 19:39] bozzmob commented on #12
@Ehesp How about we use [react-native-action-button](https://github.com/mastermoo/react-native-action-button.git) for FAB?

[2016-01-06 21:45] Ehesp commented on #12
That looks good! Will look if there's any benefit of pulling it in and making a wrapper around it. If not, it might just be best to suggest this for a FAB.

[2016-01-07 09:29] Ehesp commented on #14
I added this as an issue here, https://github.com/facebook/react-native/issues/5177, however I'm thinking it's not possibly to do like this.

One potential solution is that with the custom Navigate class in the demo, you could do something like so:

[code]

Then in our Toolbar component, do something like:

[code]

This however, means the whole demo-app itself is very tightly attached to:

- The N

[2016-01-07 12:05] Ehesp commented on #7
I've done this now, also for reference the online demo is up at: https://appetize.io/app/hyp1m20y515c16cj5yw2karcjg?device=nexus5&scale=75&orientation=portrait&osVersion=6.0

[2016-01-07 12:05] #7 closed

[2016-01-07 12:29] zoontek commented on #12
A [dropdown menu](https://www.google.com/design/spec/components/menus.html) component could be awesome!

[2016-01-07 12:45] Ehesp commented on #12
@zoontek I agree, however part of the problem we have (Bottom Sheets has this issue too), is that React Native does not yet support an "on the top of everything" API. So the dropdown menu might get stuck behind a component which is nested deeper down the chain.

[2016-01-07 15:05] NoWay1201 opened #15 "Unable to download JS bundle"
Hi,

I have a problem when trying to run this in my app. When I'm not importing 'react-native-material-design', my app is working well - but when I'm adding import, my app crashes (packager transforming 461/463 and stopping in this place, and on phone I can see "Unable to download JS bundle").
I'm new in react native, and I'm working on android only. If someone can help me I will be grateful.

[2016-01-07 16:29] Ehesp commented on #15
Hello

What version of React Native do you have, along with the device/Android API you're on?

Also could you show some code?

Cheers

[2016-01-07 16:33] NoWay1201 commented on #15
My React Native version is 0.18.0-rc, device is Sony Xperia Z3 5.1.1 with API 22 and 23 installed. Code of my Component is:

[code]

[2016-01-07 16:56] Ehesp commented on #15
Hmm. I did think it might be cause it's in ES5. Can you try with 0.17 and see if it works? I'll test when I can.

[2016-01-07 17:01] Salakar commented on #15
Also, @NoWay1201 can you show the full error please so we can investigate further.

[2016-01-07 18:02] bozzmob commented on #14
Hi @arpu @Salakar @Ehesp It is possible. And there is already a react native implementation [react-native-parallax-scroll-view](https://github.com/jaysoo/react-native-parallax-scroll-view). It's really a great implementation. I have tried it and used it. :)
It is an actively maintained repo.

[2016-01-07 18:04] bozzmob commented on #12
I am working on the Gridview component now. Have made some progress. Still a lot to do.

[2016-01-07 19:25] bozzmob commented on #12
**Screenshots of Gridview-**

Currently, its working for a fixed height, width.

I am working on making it a generic component. Currently most values like margin, padding are being hard-coded. So, thought of making it responsive.

![image](https://github.com/bozzmob/React-Native-Material-GridView/blob/master/screenshots/Screenshot_2016-01-08-00-46-23.png?raw=true)

![image](https://github.com/bozz

[2016-01-07 19:40] Ehesp commented on #14
Looks good but doesn't seem very "Material", especially how it doesn't fade. Shall look into it a bit more.

[2016-01-07 22:49] NoWay1201 commented on #15
@Ehesp when running with 0.17 i got following error:
"node_modules/react-native-material-design/lib/polyfill/Ripple.js: A semicolon is required after a class property (42:5)". When I'm adding the semicolon, got this:
"'ScrollView' has no propType for native prop RCTScrollView.sendMomentumEvents' of native type 'boolean'".

@Salakar here you are:
Phone:
![screenshot_2016-01-07-23-45-26](https://clo

[2016-01-07 22:59] Ehesp commented on #15
@NoWay1201 I don't think it's properly downgraded from 0.18-rc - see https://github.com/facebook/react-native/issues/5191 seems to be related. Did you try it again by downgrading or fresh-install with 0.17?

[2016-01-08 07:36] NoWay1201 commented on #15
@Ehesp I tried to downgrade it to 0.17 again, and still the same error: "A semicolon is required after a class property". My global react-native is 0.1.7 and in package.json I have "react-native": "0.17.0" and when running npm install after rm-rf node_modules it shows me that it's downloading reac-tnative 0.17, so it should be good, or maybe I'm wrong? I simplified my file:
[code]
And without impo

[2016-01-08 07:38] Ehesp commented on #15
Could I see your android/app/build.gradle file too please?
On 8 Jan 2016 07:36, "kkdjfjejejqk" <notifications@github.com> wrote:

[2016-01-08 07:41] NoWay1201 commented on #15
Sure:
[code]
I can say, that when i added this 3 semicolons, it started working

[2016-01-08 07:44] Ehesp commented on #15
Very bottom, you're still running the app on 18:

compile "com.facebook.react:react-native:0.18.+"

Change that back and try to reinstall. I'm pretty confident it's an 0.18
issue, seen a few issues about this but it should be fixed for official
release.
On 8 Jan 2016 07:41, "kkdjfjejejqk" <notifications@github.com> wrote:

[2016-01-08 08:03] NoWay1201 commented on #15
When I'm setting it to
`compile "com.facebook.react:react-native:0.17.0"`
got this in console when trying to `react-native run-android`:
[code]

[2016-01-08 08:29] Ehesp commented on #15
Can you come onto Gitter? Can help out better there https://gitter.im/react-native-material-design/react-native-material-design

[2016-01-08 17:44] zoontek commented on #15
@Ehesp @NoWay1201 I've just made a PR to fix this.

[2016-01-08 18:00] Salakar commented on #15
@Ehesp @zoontek @NoWay1201 fix has been published to npm. Thanks again @zoontek .

[2016-01-08 18:03] Salakar commented on #13
Closing issue as this is resolved.

[2016-01-08 18:03] #13 closed

[2016-01-09 09:37] tolu360 opened #18 "List Component"
Hello,

Please, this is more of a question: Is work still on-going on the List component? I noticed it was commented out in the demo app and it threw errors when I tried to uncomment and run the app with it.

And please is it normal native behaviour for the drawer to be available on every view, even child views? It feels like an anti-pattern, what do you think? Thanks

[2016-01-09 09:56] Ehesp commented on #18
Hello, yeah it'll be in the next release, see the 0.4

[2016-01-09 10:48] tolu360 commented on #18
Thanks for the quick reply @Ehesp. Not quite sure how the drawer 'should' behave myself - I think it's not so opinionated, even there are disparities in its behaviour across apps by Google e.g GMail follows your pattern (drawer is available globally) but on Hangouts (drawer is not available in child views). On most apps though, the back button would only exit app when you are on the landing or ini

[2016-01-09 11:20] Ehesp commented on #18
Also with the List view, I need some way of having a global wrapper for TouchableNativeFeedBack and also Ripple, instead of doing the whole `if(!isCompatible...` scenario every time. Will sort that somehow.

Yeah, there's all sorts of inconsistency with Google really, some of the apps "sort of" follow Material Design too, which is annoying.

The demo app uses the Navigate class, which by default o

[2016-01-09 11:42] tolu360 commented on #18
Thank you and you are right, your library can be easily customised.

[2016-01-09 23:56] Salakar commented on #15
Closing as issue resolved. Re-open if you have anymore related issues. Thanks!

[2016-01-09 23:56] #15 closed

[2016-01-11 17:17] Salakar commented on #12
@bozzmob any updates on the grid view?

[2016-01-12 03:07] pewh opened #19 "Button onPress/onLongPress trigger setState warning"
I got yellow-warning `setState` on RN 0.16 when trigger `onPress/onLongPress` event.
[code]

But this code below doesn't throw any warning.

[code]

Btw, [this button](https://github.com/APSL/react-native-button) also show warning as same like react-native-material-design button do.

[2016-01-12 06:31] bozzmob commented on #12
@Salakar Yes. I am working on it. It should be available in a couple of days.

[2016-01-12 08:51] Ehesp commented on #19
That's because you're doing it wrong I believe. You're calling the method when the component is being rendered, not when it's clicked:
[code]

[2016-01-12 09:15] pewh commented on #19
`<Button onPress={() => this.handleSubmit }>` doesn't trigger function `handleSubmit`.
It should be `<Button onPress={() => this.handleSubmit() }>`. Unfortunately, it still throw warning :/

[2016-01-12 09:54] Ehesp commented on #19
Hmm, can I see your entire component? What Android API are you running? And are you using master or 3.1?

[2016-01-13 03:30] pewh commented on #19
See this [gist](https://gist.github.com/pewh/f3dc58827a30489b8219) at line 91, 95, and 96 (LoginForm.js).
Tested on Android 4.1 (Genymotion) and Android 4.4 (real device). Using RNMD@0.3.1.

And I also had refactor `this.props.onSubmit(this.state)` (check my gist), but problem still occured.

[2016-01-13 04:31] maxs15 opened #20 "[IOS] ToggleIcon doesn't work"
Hi,
Awesome library ! Keep up the good work ;)
I have some trouble to try out the ToggleIcon component on IOS.
My icon is displayed but I don't have any ripple effect on click, is there an issue ?
The opacity doesn't seems to work as well..

Here is my code
[code]

Thanks

[2016-01-13 09:28] Ehesp commented on #20
Hey, cheers!

Which version of iOS are you on? Will test it out. Also opacity isn't a prop for Icon, you should be able to pass it in via the style prop though.

[2016-01-13 16:19] maxs15 commented on #20
I tried on simulator with IOS 9.1, thanks !
Arf, I'm sorry I don't know where I've seen such a property^^

[2016-01-14 10:25] Salakar commented on #19
@pewh can we see the code for `this.props.onSubmit(usernameValue, passwordValue)` - that function, also try commenting out that row and see if you still get the issue, then we know if it's that or not

[2016-01-14 10:31] Salakar commented on #20
@maxs15 could you try use the master branch rather than the current release and see if the ripple works? I think we fixed a couple of ripple issues since the last release.

[2016-01-15 03:15] pewh commented on #19
I have figure out the problem. This is not RNMD issue, but my code.
[code]

I'm just curios why there's no warning on `<TouchableOpacity onPress={handleSubmit}>...</TouchableOpacity>`. But at least all goes well. Thanks for the time.

[2016-01-15 03:15] #19 closed

[2016-01-15 12:03] dazziola opened #21 "Ripple Effect on Buttons"
Great work on this, looks fantastic.

The ripple effect on the buttons seems quite slow. Is this using the native Android button styling to create that effect? To achieve visual feedback on the button you have to press and hold for < 1 second. If you tap the button you get no visual cue.

It's not a huge problem merely a styling issue it seems.

[2016-01-15 13:48] avishayil commented on #21
+1 on this.

[2016-01-15 14:09] Ehesp commented on #21
Hey, so the Ripple uses [TouchableNativeFeedback](https://facebook.github.io/react-native/docs/touchablenativefeedback.html#content) if your device supports it, but then defaults to a custom implementation if it doesn't.

On the button it's implemented here: https://github.com/react-native-material-design/react-native-material-design/blob/master/lib/Button.js#L216

Need to figure out how to deal w

[2016-01-15 15:45] Ehesp commented on #21
@dazziola @avishayil Just had a play around with this, and it should be possible, however I'm getting a React Native issue which is blocking it. But my plan is to do this:

1. Add `delayPressIn` to the touch to `1`. This instantly fires the Ripple.
2. Add `delayPressOut` to the touch with a `300`ms delay (or whatever it is in Android).
3. Move the `onPress` handler into the `onPressOut` function.

[2016-01-15 20:58] maxs15 commented on #20
Doesn't work on master either.
What about you guys, does it work on your side ?

[2016-01-16 11:22] Ehesp commented on #20
Just pushed up a fix, hopefully: https://github.com/react-native-material-design/react-native-material-design/commit/f9af5bec7724987d3425f62240bb4af24876a6fd

Can you try on master again for me?

[2016-01-18 09:53] Ehesp commented on #21
This is now waiting on https://github.com/facebook/react-native/pull/5376 and whenever it's in a release.

[2016-01-25 08:49] zoontek commented on #12
The dropdown is available in React-Native 0.19-rc: https://github.com/facebook/react-native/commit/18437093f2664beedd3239bb525d7daa3f2bcdbd :+1:

[2016-01-25 08:50] Ehesp commented on #12
Awesome :D

I just wish there was some "z-index" type style so we could push whatever we wanted to the top of the stack.

[2016-01-25 08:54] zoontek commented on #12
@Ehesp Yes, or a custom component "Above"

[code]

[2016-01-28 17:40] ssomnoremac opened #26 "Toolbar alignment with FB examples and plugability"
I'm finding it difficult to implement the Toolbar for a number of reasons:

- Alignment to conventions used by the FB version of Toolbar

`onIconClicked()` becomes `onIconPress()`  for example is annoying
also `style` like below is giving me a warning about Invalid prop of type number

[code]

I understand why `theme` is introduced but styles should be supported (I do like the right icon style)

-

[2016-01-29 03:42] pewh commented on #15
Currently this repo doesn't work on RN 0.18/0.18.1, right?
I got same error running on device: `"'ScrollView' has no propType for native prop RCTScrollView.sendMomentumEvents' of native type 'boolean'"`. But no error on genymotion.

Also it's work if I downgrade to 0.17 :/
But I need 0.18 very much because it can split build per architecture so the APK size is much smaller

[2016-01-29 07:14] Ehesp commented on #15
I'll look into this, I'm pretty sure that the demo app is running on 18.
Any particular component?
On 29 Jan 2016 03:42, "Pewh Gosh" <notifications@github.com> wrote:

[2016-01-29 07:50] pewh commented on #15
Oops. It's my bad. I've fix my problem by deleting file `app/src/main/assets/index.android.bundle` which cause the error on RN 0.18. So it's not an issue on your repo.

[2016-02-07 09:51] stevenxiale opened #28 "Unrecognized font family 'Roboto,Noto,sans-serif"
Unrecognized font family 'Roboto,Noto,sans-serif'

[2016-02-07 15:55] Ehesp commented on #28
??

Anymore information? What device? What platform? What RN version?

[2016-02-08 05:43] solchea commented on #28
I'm getting the same error while trying to use in an iOS app. I followed these instructions and verified the fonts are being loaded but still no luck.

http://stackoverflow.com/questions/29310828/use-custom-font-in-react-native

[2016-02-08 13:51] leocavalcante opened #29 "Missing Tabs component (TabLayout)"
Guys, first of all: awesome project.
I'm just missing the [Tabs Component](https://www.google.com/design/spec/components/tabs.html) which is a [TabLayout](http://developer.android.com/reference/android/support/design/widget/TabLayout.html) implementation (I guess).
Any plans?

[2016-02-08 13:59] Ehesp commented on #29
Hello

On another app I've managed to implement https://github.com/brentvatne/react-native-scrollable-tab-view pretty well, very easy to style.

Wasn't sure it was something that was needed since there's quite a lot of view pager/tab libs out there

[2016-02-08 14:23] leocavalcante commented on #29
Right,
and what about a component that wraps one of this libraries to provide Material design? It will use the already founded implementation, but will apply fonts, colors and styles to ScrollableTabView assembling Material design and following the hole app. Basically, a bridge for react-native-material-design-styles and react-native-scrollable-tab-view.

[2016-02-10 16:52] Ehesp commented on #29
I can do that yeah. Will have to use it as a dependancy but I guess it's pretty handy to have. Could also do something manual too, which allows for off screen horizontal scrolling (use this in another project myself)?

[2016-02-10 17:55] leocavalcante commented on #29
You could have a fork from scrollable-tab-view (or another one) for react-native-material-design team to avoid vendor-lockin, it will require extra efforts to follow up original project updates, buuuut, despite avoiding vendor-lockin you can transform it in something better also.

[2016-02-15 16:23] xotahal commented on #3
Have anyone problem with this?

My versions:
react-native-material-design: 0.3.2
react-native-vector-icons: 1.2.0

I copied fonts and tried the instal of react-native-vector-icons - no success

[2016-02-19 14:59] PatrickEriksen opened #30 "Cannot find icons"
I receive the following error:

I'm using:

I have copied over the fonts as described to:
android/app/src/main/java/assets/fonts

[2016-02-20 03:10] vladp opened #31 "cannot run the demo app for android due to alt dependency"
the demo app relies on alt,
however since React-native-18 (or higher) alt conflicts with react-native  via fbjs
I had submitted a bug report to alt, they had closed it, however their suggested workaround does not work

https://github.com/goatslacker/alt/issues/622

not sure if other folks running into the problem with the demo app

[2016-02-20 16:43] avishayil commented on #31
Try alt@v0.18.0,
Let me know if it works.

[2016-02-20 19:53] vladp commented on #31
Thx for the suggestion. Unfortunately it did not work for me
Error is:

My package.json
[code]

[2016-02-22 06:50] stevenxiale commented on #28
ios: iphone6  react-native: 0.18.0   When use some component which use Roboto,Noto,sans-serif as font family, it will throws error.

[2016-02-22 06:51] stevenxiale commented on #28
such as subhead

[2016-02-22 08:53] Ehesp commented on #28
Seems strange, will investigate it now..

[2016-02-23 05:56] Strainy commented on #30
Downgrade to react-native 0.18.0 as per the demo app. There seem to be some big changes to how the Java/Android stuff is structured in the later versions.

I had a bit of trouble downgrading. Just the changing the react-native version in your projects `package.json` file and re-running `npm install` didn't seem to be enough since you also have to rebuild/rollback the generated android code. To do

[2016-02-24 16:23] avishayil commented on #31
Why do you have fbjs modules installed on C:\?
Where's your project directory?

[2016-02-24 20:49] arpu commented on #14
@Ehesp you workin on this?

[2016-02-25 09:48] Ehesp commented on #30
I've not had chance to really test on the latest React release due to work, but will pick it up when I can as I'm going to be building an app again soon with it.

[2016-02-25 10:08] SamTharani opened #32 "How to get the style for Dropdown buttons"
In my application I need a dropdown. Can you help tell me how to get dropdown using react-native material design

[2016-02-27 21:25] vladp commented on #31
The issue appears to be with flux. They know about it, but do not seem to plan to have that resolved. Instead suggested to wait for next release of react-native that would allow multiple copies of fbjs being used

https://github.com/facebook/flux/issues/329

[2016-02-29 10:15] Ehesp commented on #31
Thanks for pointing that out! I'll take a look at what the temp work around is.

[2016-02-29 10:22] zoontek commented on #12
Is the project dead? :(

[2016-02-29 10:24] Ehesp commented on #12
Nope, was using it in a internal work project however that's not currently being developed so focus has shifted. Plan on picking it up in the next few weeks hopefully.

[2016-02-29 10:34] zoontek commented on #12
Great! I will check if I can do the Swipe Views with Tabs!

[2016-03-01 05:42] kkgelu opened #33 "Error: attempted to set key .... on an object that is meant to be immutable and has been frozen"
Just started introducing the drawer into an existing project, so far it's UI only, I have not given it the navigator or hooked up with any navigation.

The drawer is part of a ViewA with a DrawerLayoutAndroid as root , clicking on a button on View A navigates to View B. View B does not have the drawer. Navigates back from ViewB to ViewA immediately crashes with the error shown in the following scr

[2016-03-01 07:26] avishayil commented on #33
Hi, I encountered the same error when upgrading to RN 0.21.0-rc.

The solution that I got to so far is here, at my fork.
it's build for my personal use so, I won't recommend using the whole fork, but you can fork the original project and change it accordingly with this specific commit:

https://github.com/avishayil/react-native-material-design/commit/1827032e76676b278c1e8fce283d951e793b2b7b

[2016-03-01 07:28] Ehesp commented on #33
Can you make a PR from that? No idea why I used Object assign there.
On 1 Mar 2016 7:26 a.m., "Avishay Bassa" <notifications@github.com> wrote:

[2016-03-01 07:30] avishayil commented on #33
@Ehesp sure, i'll do that as soon as i'll get to the office.

[2016-03-01 12:15] avishayil commented on #33
@Ehesp I sent a PR.

[2016-03-01 16:12] kkgelu commented on #33
Thanks! Well done guys, both this awesome component and your quick fix/PR.

[2016-03-03 16:12] adnbsr opened #36 "Toolbar LeftIcon Ripple Effect"
Position of ripple is not properly set.

[2016-03-03 22:34] dionysiusmarquis commented on #28
+1

[2016-03-03 22:39] adnbsr commented on #30
This issue is not related to RN version, but since fonts files is copied, packager should be restarted and android project should be rebuilt.

[2016-03-04 04:49] mlabrum commented on #28
@feelingweird fixed this and submitted a pull request here https://github.com/binggg/react-native-material-design-styles/pull/1 but the pull request has been sitting there...

Maybe @react-native-material-design should fork and bring in this project?

[2016-03-04 08:46] Ehesp commented on #28
@mlabrum can you re-submit that PR on here for me and I'll merge it: https://github.com/react-native-material-design/react-native-material-design-styles

Once I've done that, I'll change the package json here to point at this git repo instead and push a new minor version.

[2016-03-04 08:51] #33 closed

[2016-03-04 13:08] PatrickEriksen commented on #30
I had to downgrade to .18 and then upgrade. this is so weird.

[2016-03-04 13:08] #30 closed

[2016-03-05 08:39] farwayer opened #39 "getColor() returns default color for strings like 'red', 'green' etc."

[2016-03-06 16:58] texas697 opened #40 "change height of button"
how is done? thanks

[2016-03-06 22:48] mlabrum commented on #28
My work colleague has submitted the pull request :) thanks!

[2016-03-07 02:23] anhldbk commented on #12
@Ehesp Any chance to integrate with https://github.com/xinthink/react-native-material-kit?

[2016-03-07 03:39] anhldbk opened #41 "Ripple effect on Button"
Hey, I'm using the demo app and I think there's an issue with the effect. The Button seems to be not responsive at all.
Source: https://github.com/react-native-material-design/demo-app/blob/master/src/scenes/Buttons.js

[2016-03-07 10:04] NoWay1201 commented on #32
For now there is no Dropdown in react-native-material-design. Probably you need to write your own or install other and style it.

[2016-03-07 10:10] NoWay1201 commented on #40
As I can read in material design guidelines, button should have 36px height, and that's what height got out button. Probably that's why it's not configurable.

[2016-03-07 10:13] NoWay1201 commented on #36
I spotted that too. Don't know if it's like it should be in guidelines, but I fixed it in my Toolbar component (leftIconStyle prop, you just need to set proper margins).

[2016-03-07 10:15] NoWay1201 commented on #39
Hmm. I don't understand where is your problem. For string 'red' it should return hex of red500 color.

[2016-03-07 10:29] Ehesp commented on #32
There is none, but there is a native component:

https://facebook.github.io/react-native/docs/picker.html#content

[2016-03-07 11:31] Ehesp commented on #36
Is this on Android? Works okay on my demo app version. Which Android & RN version are you guys on?

[2016-03-07 15:57] ufon commented on #31
+1 up

[2016-03-07 19:07] adnbsr commented on #36
Yeah, it is on Android actually. @NoWay1201 we can get rid of this by style but it should be supported by library.

[2016-03-07 19:10] NoWay1201 commented on #36
Later I will make a PR to fix that, I'm busy right now. But it's simple PR, we just need to change base margins for Icon.

[2016-03-08 02:01] anhldbk commented on #41
I've got a smooth experience with the effect [react-native-material-kit](https://github.com/xinthink/react-native-material-kit).

[2016-03-08 12:49] farwayer commented on #39
Button is red:
[code]

Button is blue:
[code]

[2016-03-08 13:56] NoWay1201 commented on #39
I see your problem. This is because thereis no color like `red` in material palette. You probably want to use `googleRed (100, 300, 500 or 700 - if not specified, it will be 500)` or `paperRed`. The Button is blue, because `PRIMARY` color is `paperBlue`.

[2016-03-08 14:36] NoWay1201 commented on #36
PR created #42

[2016-03-08 15:43] #32 closed

[2016-03-08 16:18] NoWay1201 commented on #36
#42 merged, Issue can be closed.

[2016-03-08 16:55] NoWay1201 commented on #40
I made PR to add this feature. Here it is: #44 . You need to use override prop. It should look like this:
`<Button overrides={{height: 100}} />`
To set height to 100.

[2016-03-08 23:40] #36 closed

[2016-03-10 14:04] efkan commented on #21
I've tried to improve the `Polyfill Ripple` animation here #46 for old Android versions.
On the other hand, -if I'm not mistaken- the above issue appears as released [here](https://github.com/facebook/react-native/blob/master/Libraries/Components/Touchable/Touchable.js#L683).

[2016-03-11 00:03] kkgelu commented on #12
I would like to have a proper dialog (in future releases), example:
https://github.com/aakashns/react-native-dialogs

[2016-03-15 05:48] mlabrum commented on #28
@Ehesp any update? :)

[2016-03-18 07:59] fxhereng commented on #31
+1 up, same problem for me

[2016-03-20 20:05] Sat02 commented on #31
Same problem

[2016-03-22 11:29] bawn commented on #41
+1

[2016-03-22 23:12] Proyoyo commented on #28
I encountered this as well. Can the pull request be merged?

[2016-03-23 00:03] feelingweird commented on #28
Hi Proyoyo,
To get around the issue at the moment we are using this in our bitwise.io build (as a separate step)
`#!/bin/bash

if [ -d "./node_modules/react-native-material-design-styles" ]; then
  rm -Rf ./node_modules/react-native-material-design-styles
else
  echo "Expected a React Native Material Design Styles node module"
  exit 1
fi

git clone https://github.com/feelingweird/react-native-mat

[2016-04-07 15:27] texas697 opened #49 "help with routing"
how can I remove the drawer icon if i am at my login screen? I would assume you do this with the current route state?

[2016-04-07 15:30] Ehesp commented on #49
In the Toolbar, an icon is only rendered if you pass a prop string: https://github.com/react-native-material-design/react-native-material-design/blob/master/lib/Toolbar.js#L71

Simply don't pass in the prop and it shouldn't show - the margins should also work if there isn't an icon present.

[2016-04-07 16:20] texas697 commented on #49
trying to see where I would not pass in any props. I do not have listed in the drawer

[code]

[code]

[2016-04-07 16:34] Ehesp commented on #49
Do you mean the drawer icon on the `Toolbar`, or do you mean menu icons in the drawer?

In the demo app (I assume you're using that?) the Toolbar is injected into every route with the native Navigator https://github.com/react-native-material-design/demo-app/blob/master/index.android.js#L61 (https://github.com/react-native-material-design/demo-app/blob/master/src/components/Toolbar.js#L54). You'd n

[2016-04-07 16:36] texas697 commented on #49
yes i am using the demo app. I am referring to the hamburger icon on the toolbar. sorry about saying it was the drawer. ok, i was just making sure there wasnt something already there that could do it. thanks

[2016-04-07 16:41] Ehesp commented on #49
Yeah the demo app was built up trying to show a way of easily navigating around the app, since I don't think the native router makes it easy, especially if you want your own Toolbar.

You're probably best using a flux store to store the current route you're on, and then in the Toolbar component do something like (roughly):

[code]

[2016-04-08 09:51] duketwo commented on #31
still not working

[2016-04-11 14:10] duketwo opened #50 "Ripple Effect bug on iOS"
The ripple effect is using the wohle screen while animating.

Sometimes the the Animation still remains on the screen.

Example: [https://i.imgsafe.org/80eb024.jpg](https://i.imgsafe.org/80eb024.jpg)

I created my own branch to test the demo on iOS because the known compile problems with alt.
If someone want to give a shot ( https://github.com/duketwo/demo-app )

[2016-04-18 10:34] duketwo commented on #50
Fixed most of it now, maybe someone is willing to fix the bug with alt in the demo project. Then I could create PRs with the most recent fixes regarding iOS.

I think swapping alt with redux and the given router with react-native-router-flux would be a good goal.

Anyway, thanks for the great work. Looks really awesome on iOS and android.

[2016-04-18 10:34] #50 closed

[2016-04-20 00:35] Proyoyo opened #52 "Avatar showing up as square with border radius"
Since commit 71af73d, the <Avatar> in my project is showing up as square with border radius instead of circle. Is this behaviour intended?

Here is how I used the code:
`avatar = <Avatar image = {<Image source = {require('../../everperform-common/assets/default-background.jpg')} />} style = {styles.avatarHeader} size = {110}/>`

`avatarHeader: {
        flex: 1
    }`

[2016-04-20 07:31] Ehesp commented on #52
It was actually via this commit I'd imagine: https://github.com/react-native-material-design/react-native-material-design/commit/23980c2ac9ec8029bea36f38893ad5203597e9ca

Looks like there needs be more checks on the borderRadius.

[code]

This should sort you out.

[2016-04-22 02:52] mlabrum commented on #28
This change has now been fixed https://github.com/react-native-material-design/react-native-material-design/pull/51 I think we just need a version bump for the NPM package

[2016-05-02 13:32] KGALLET commented on #28
Still having the issue when everything was fine the last 3 days, don't know why

[2016-05-05 17:17] casoetan commented on #28
+1

[2016-05-06 14:15] Ehesp commented on #28
Can we check with the latest release?

[2016-05-06 14:23] Ehesp opened #57 "[Demo] Swap Alt out with Redux"
Don't know if anyone wants to do this with the demo app, but I feel I should probably swap out for Redux, since it seems to be the more preferred method of Flux implementations.

I'll try and base it on the F8 app: https://github.com/fbsamples/f8app

[2016-05-06 15:00] KGALLET opened #58 "Release 0.3.4"
Hi,

Just to let you know, there are some issues in Release 0.3.4.

The first one :
https://github.com/react-native-material-design/react-native-material-design/commit/bd071326ce7ac692fd60087c6845adef4d90715b#commitcomment-17380864

After added the `{`:
 https://github.com/react-native-material-design/react-native-material-design/commit/bd071326ce7ac692fd60087c6845adef4d90715b#commitcomment-173809

[2016-05-06 15:26] Ehesp commented on #58
Right so I've no idea where processColor has come from...?

[2016-05-06 15:30] Ehesp commented on #58
Reverted in 0.3.5 - woops.

[2016-05-06 15:30] #58 closed

[2016-05-07 15:25] arpu commented on #14
can be closed? works perfect with  react-native-parallax-scroll-view.

[2016-05-07 18:33] cldwalker commented on #28
Was seeing this error on 0.3.3 with the Toolbar but 0.3.5 fixed it. Thanks!

[2016-05-07 20:35] #14 closed

[2016-05-08 17:41] Ehesp commented on #28
Cool, I'll close for now!

[2016-05-08 17:41] #28 closed

[2016-05-08 17:44] #20 closed

[2016-05-08 17:44] #39 closed

[2016-05-08 17:45] #49 closed

[2016-05-09 17:20] vincent-the opened #60 "[DEMO] Requiring module "DemoApp/src/stores/AppStore.js""
I have pull the Demo App (https://github.com/react-native-material-design/demo-app). Then i run `npm install ` and `react-native run-android`. But after the SplashScreen became this Error:

`Requiring module "DemoApp/src/stores/AppStore.js" which threw an exceptionhandleException @ ExceptionsManager.js:61 handleError @ InitializeJavaScriptAppEngine.js:80ErrorUtils.reportFatalError @ error-guard.js

[2016-05-10 19:48] erwan opened #61 "Since 0.25, React API should not be imported from react-native."
Since 0.25, React API must be imported from 'react', not 'react-native':

https://github.com/facebook/react-native/releases/tag/v0.25.1

That creates warnings and will break in 0.26.

[2016-05-11 03:10] miaodonghan commented on #61
Should this change backward compatbile?

[2016-05-11 07:40] erwan commented on #61
Yes, the recommended way works in previous versions too.

[2016-05-17 07:26] #60 closed

[2016-05-19 15:16] #61 closed

[2016-05-21 14:25] demiro opened #67 "Not compatible with 0.26"
Getting bunch of errors

(for CreateIconSet)

and

maybe I am doing something wrong?

[2016-05-23 04:25] willmcclellan commented on #67
I don't think the npm version of the module got bumped when this change was made:

https://github.com/react-native-material-design/react-native-material-design/commit/a956c864ff5a167808978fc7fa2f15a70ab6540a

You can install from the github repo as a temp fix

[2016-05-23 19:24] sirnacnud opened #68 "Demo App fails on Android"
I cloned the demo repo and installed the dependencies with npm. When running it on Android, I get a javascript error of `undefined is not an object (elevating screenPhysicalPixels.width)`. Anyone know how to fix this? I haven't made any changes.

[2016-05-23 21:20] vincent-the opened #69 "Uncaught TypeError: Super expression must either be null or a function"
I receive the following error:
`Uncaught TypeError: Super expression must either be null or a function, not undefined `

![bildschirmfoto vom 2016-05-23 23 10 53](https://cloud.githubusercontent.com/assets/4801522/15484882/89a93976-213c-11e6-9444-71871d600071.png)

My index.android.js:
[code]

[2016-05-24 21:05] Ehesp opened #70 "Looking for help with this project"
Hello, due to time issues with work and personal life, is there anyone out there willing to help contribute to this project? Quite a bit needs doing!

[2016-05-25 03:23] wnoveno commented on #70
I'll try to help out. will probably start with getting this to work with the latest version of RN

[2016-05-26 10:50] little51 commented on #69
the last version on github is ok. clone react-native-material-design to node_modules,and in react-native-material-design forder,execute npm install.

[2016-05-26 14:25] vincent-the commented on #69
@little51 Thx, it works

[2016-05-26 18:09] Ehesp commented on #69
I'll push up a new version tonight
On 26 May 2016 15:25, "Vincent Thelang" <notifications@github.com> wrote:

[2016-05-26 20:30] Ehesp commented on #69
Should now be fixed in 0.3.6... Cheers

[2016-05-26 20:30] #69 closed

[2016-05-26 20:31] Ehesp commented on #67
Should now be fixed in 0.3.6... Cheers

[2016-05-26 20:31] #67 closed

[2016-05-26 20:31] #52 closed

[2016-05-31 07:30] ttpro1995 opened #72 "How to set Button width ?"
I would like to set button width styles. But it does not work. Nothing change.
[code]

[2016-05-31 09:24] Ehesp commented on #72
You could do:

[code]

[2016-05-31 14:21] christinwilson opened #73 "How to set button's backgroundColor and text color?"
I tried this code but the color doesnt change from the default blue.
Button value="LOGIN" raised={true}  theme='dark' overrides={true} backgroundColor='#3fffff'
@Ehesp could you help me here?

[2016-05-31 15:03] Ehesp commented on #73
Can you share some code? Also check out the demo app.
On 31 May 2016 15:21, "christinwilson" <notifications@github.com> wrote:

[2016-05-31 15:47] christinwilson commented on #73
<Button
value="LOGIN'
raised={true}
theme='dark'
overrides={true}
backgroundColor='#3fffff'
/>

[2016-06-01 03:24] ttpro1995 commented on #72
Thank @Ehesp , it worked.

[2016-06-01 03:24] #72 closed

[2016-06-01 20:51] GWlodarek commented on #73
@christinwilson try this

<Button
value="LOGIN'
raised={true}
theme='dark'
overrides={{backgroundColor: "3fffff"}}
/>

[2016-06-01 20:54] GWlodarek commented on #73
With "<Button" before "value=..."
Sorry about that!

[2016-06-02 00:13] christinwilson commented on #73
thanks @GWlodarek . It worked :)

[2016-06-02 00:13] #73 closed

[2016-06-02 21:04] MiLeung opened #74 "Cannot resize button size with width or height"
Cannot resize button size with width or height.

[code]

Buttons do not resize for some reason.  I'm pretty sure I'm doing it the wrong way, but can't seem to find any documentation on it (or the raised property).

[2016-06-03 00:28] MiLeung opened #75 "Checkbox Group returns the previous (not current) array of checked boxes"
For example if you first check the first box

[code]

will print out "value []"

And if you uncheck the box "value [0]" will be printed out

[2016-06-04 04:25] MiLeung commented on #75
the selected array is updated after the callback is called

[2016-06-05 14:19] cldwalker commented on #75
I'm also seeing this bug with 0.3.6 and RN 0.26.0. I don't think I was seeing this bug when using 0.3.3 and RN 0.24.0

[2016-06-05 15:38] cldwalker commented on #75
@MiLeung I put up a fix in #76. If you'd like to try the fix, update your package.json: `"react-native-material-design": "git://github.com/cldwalker/react-native-material-design#fix-checkbox-group-on-select"`

[2016-06-06 01:46] IZHQT opened #77 "did this support IOS?"

[2016-06-06 07:54] #75 closed

[2016-06-06 09:28] perjerz3434 commented on #74
Agree with MLeung

[2016-06-06 17:19] vincent-the opened #78 "Null is not an object (evaluating 'route.component')"
If I implement the Routing like in the demo in my App. I receive the following mistake. I have copied the src folder and no files changed. My index.android.js file looks as follows.

Can you help me?

![bildschirmfoto vom 2016-06-06 19 10 16](https://cloud.githubusercontent.com/assets/4801522/15830959/4dae88b0-2c1b-11e6-991f-7f9b8d46730b.png)

**index.android.js**
[code]

[2016-06-07 07:01] MiLeung commented on #75
Somewhat unrelated question, but how did you create that url ("git://github.com/cldwalker/react-native-material-design#fix-checkbox-group-on-select") that has your forked repo with the fixes?  I would like to add some additional fixes

[2016-06-08 07:32] baso6706144011 opened #79 "Icons and Checkbox are not rendered"
i have tried the examples of this material design on github.io, but when i tried to use icons and checkbox, they couldn't be rendered, i restart the packager (npm restart) but still....
![13382088_645149462303603_551139410_n](https://cloud.githubusercontent.com/assets/18097752/15886197/c437f816-2d85-11e6-96e8-71440d11f013.png)

[2016-06-09 04:28] Proyoyo commented on #77
Yeah it's working on iOS

[2016-06-12 07:51] RajuPilani opened #80 "Icon not not loaded on Android App"
![screenshot from 2016-06-12 01 18 47](https://cloud.githubusercontent.com/assets/15886208/15989838/58522cc0-30a0-11e6-9b43-c5da94ed61aa.png)

I use your same demo code with latest version but Icon not loaded on my app..please help me
[code]

[2016-06-13 04:46] christinwilson commented on #79
Any help with this? @Ehesp @GWlodarek

[2016-06-13 14:39] Ehesp commented on #79
Have you tried running with `rnpm`? The vector lib is hooked up with it so should install everything for you properly

[2016-06-14 15:51] #77 closed

[2016-06-15 15:29] ymruan commented on #77
which react native version is supported???

[2016-06-16 05:58] mlabrum commented on #80
Have you followed the instructions here https://github.com/oblador/react-native-vector-icons ? to set up the icon font?

[2016-06-16 05:59] mlabrum commented on #70
Sure :) sign me up

[2016-06-19 19:28] tarun29061990 commented on #74
How to change button text font-size?

[2016-06-19 19:51] Erlix322 opened #82 "Frame dropping"
Hi,

I've just recognised that the more often I switch between scenes the more laggy it become. I first thought it is because of the debug mode, but it also starts with your release-apk.

And it seems that its just the sidebar animation, everything else within a scene runs fine.

mobile: Samsung galaxy S4

[2016-06-19 21:37] MiLeung commented on #74
@tarun29061990 I had to fork the repo and modify the source code.  There's a lot of hard code, so makes sense why you can't resize the buttons.

[2016-06-21 07:45] tarun29061990 commented on #74
@MiLeung  Wat about this https://github.com/xinthink/react-native-material-kit?

[2016-06-21 09:18] baso6706144011 opened #83 "Icontoggle's background color"
the default icontoggle's background color is transparent, is it possible to give a custom background color of icontoggle?

[2016-06-21 14:51] MiLeung commented on #74
@tarun29061990 Thanks, that library looks like you can resize the buttons.  Not sure if you can adjust fontSize though.

[2016-06-22 10:24] prithsharma opened #84 "Avatar wrapper view should not be 'flex: 1'"
https://github.com/react-native-material-design/react-native-material-design/blob/master/lib/Avatar.js#L56
Because the avatar wrapper view is flexible, it can't be aligned at the place where this component is used.

This is also why the demo app had to use a [`paddingTop`](https://github.com/react-native-material-design/demo-app/blob/master/src/scenes/Navigation.js#L133) instead of `justifyContent

[2016-06-29 16:32] AaronLlanos commented on #77
Just ran react-native run-ios in index but none was found. So I went to the .xcodeproject file in /ios and the build failed

[2016-07-01 09:39] gerardus1995 opened #85 "Changing background color of button and toolbar"
I dont know if i'm doing the right way, but im trying to change the button and toolbar background color and my app doesn't give me any error but the color is still the default. I'm doing -->

				<Button
					onPress={this.gotoNext.bind(this)}
					text='Login'
					theme = 'dark'
					textColor  = 'white'
					raised={true}
					overrides={{backgroundColor: 'red'}}
				/>

And the color is blue n

[2016-07-04 19:31] funkyeah commented on #80
Close this issue? @RajuPilani apparently didnt need help that bad

[2016-07-04 20:35] #78 closed

[2016-07-05 07:25] #80 closed

[2016-07-05 09:29] RajuPilani commented on #80
Thanks @Ehesp, I forget to close this issue.

[2016-07-05 09:31] RajuPilani opened #86 "That's not working with RN28.0+"
When i update my RN version that's get lot of error with RN28+ version

[2016-07-08 08:33] koustuvsinha opened #87 "Propagate custom styles in drawer section"
I cant apply my own custom styles in Drawer.Section. Probably the styles as prop should be [passed on here](https://github.com/react-native-material-design/react-native-material-design/blob/master/lib/Drawer/Section.js#L82)?

The need of this is because several times the section headers are overalapped and even the items are not visible at times. Here is a screenshot of what happens when i place t

[2016-07-12 19:40] jurosh commented on #86
Just to add some details - With react native 0.29.0 I have following issue:

Whenever I import something from module, I'm getting undefined is not an object at create-icon-set.js line 46.
Eg. import { Button } from 'react-native-material-design'; and when I remove import app is working OK.

[2016-07-13 05:43] Light1c3 opened #89 "Feature Request: Floating Action Button"
Are there any plans for adding a floating action button?

I really like how easy it is to implement and all the cool feature, but I feel like it's missing a floating action button.

Thanks!

[2016-07-14 03:04] white-ubuntu opened #91 "fix value is undefined"
location: /lib/IconToggle.js     line 25

 if (this.props.badge.value !== prevProps.badge.value) {
change to
if (prevProps.badge && this.props.badge.value !== prevProps.badge.value) {

[2016-07-15 17:24] shoumma opened #92 "List View Please"
Hi, I have tried to render the list view but it's just not working. Is there any way to get it working???

[2016-07-24 15:42] ufon commented on #87
also have this problem

[2016-07-25 01:54] lakeoffaith commented on #87
also have this problem

[2016-07-25 09:43] druvisc commented on #31
I can't run the demo as well, but I'm getting:

![Error]
(http://i.imgur.com/ORadSeU.png)

[2016-07-25 11:33] lakeoffaith commented on #31
the demo is good for me

[2016-07-25 12:59] emrsahin opened #95 "How to hide side-menu and its icon in a screen?"

[2016-07-26 04:17] mlabrum commented on #86
have you upgraded/installed react native vector icons @jurosh ?

[2016-07-26 04:52] mlabrum commented on #91
Could you submit a pull request? (you can do it via the github interface...)

[2016-07-26 04:53] mlabrum commented on #92
Do you have any example code?

[2016-07-26 04:54] mlabrum commented on #87
Want to submit a pull request?

[2016-07-26 11:48] Fanda36 commented on #92
Maybe this is problem.
[https://github.com/react-native-material-design/react-native-material-design/commit/565544a482f5c8d4b8943d0d91d2bc58ffa4fff8](url)

[2016-07-27 07:41] #91 closed

[2016-07-27 07:54] Ehesp commented on #89
I'd suggest using https://github.com/mastermoo/react-native-action-button

It's well established so would make sense to use that than re-invent the wheel.

[2016-07-27 07:54] #89 closed

[2016-07-27 07:55] Ehesp commented on #92
I've not got around to actually completing this.

There's a lot of options, positions etc which need to be implemented so turned out to be quite challenging.

[2016-07-31 14:11] gnvcor opened #100 "Аnimations screens"
Greetings! Prompt how to implement animations transition between screens? СonfigureScene in Navigator does not work.

[2016-08-03 16:43] KasperDeng commented on #87
remove the flex attribute in the session's style can resolve the issue.
[code]

[2016-08-03 16:47] tyscorp opened #101 "git+https dependency for react-native-material-design-styles causes installation failure on cygwin"
npm doesn't support git URLs for dependencies on cygwin and [has no plans to fix this](https://github.com/npm/npm/pull/12366).

Would you please consider changing `react-native-material-design-styles` to use a version number? (or `latest` if you want it to match current behavior)

[2016-08-03 18:24] KamWis opened #102 "Warning: Failed prop type: Invalid props.style key `color` supplied to `Icon`."
Instead of adding color="" prop I would like to add style prop to it with definitions from StyleSheet. I can do that but I receive fallowing warning:

`ExceptionsManager.js:76 Warning: Failed prop type: Invalid props.style key `color` supplied to `Icon`.
Bad object: {
  "color": "rgba(62,62,62,1)"
}
Valid keys: [
  "width",
  "height",
  "top",
  "left",
  "right",
  "bottom",
  "minWidth",
  "max

[2016-08-04 14:46] emrsahin commented on #95
sizin verceğiniz cevabı sikiyim

[2016-08-04 14:46] emrsahin commented on #95
sizin verceğiniz cevabı sikiyim

[2016-08-04 14:46] emrsahin commented on #95
sizin verceğiniz cevabı sikiyim

[2016-08-04 14:46] emrsahin commented on #95
sizin verceğiniz cevabı sikiyim

[2016-08-04 14:46] emrsahin commented on #95
sizin verceğiniz cevabı sikiyim

[2016-08-04 14:46] emrsahin commented on #95
sizin verceğiniz cevabı sikiyim

[2016-08-04 14:46] emrsahin commented on #95
sizin verceğiniz cevabı sikiyim

[2016-08-04 14:46] emrsahin commented on #95
sizin verceğiniz cevabı sikiyim

[2016-08-04 14:48] alicanuzun commented on #95
bi tur da ben sikeyim.

[2016-08-05 06:39] joncursi opened #103 "Testing with Enzyme/Mocha: Unexpected token export"
I have a React Native component that imports some pure components from this package. I am trying to test this component with enzyme, using Mocha as the driver. I get the following error:

[code]

Not sure how to get past this error. Do I need to install some babel plugins to get it to recognize the `export` keyword being used in this package?

[2016-08-05 06:53] joncursi commented on #103
I have tried adding the babel export plugin but no luck

https://babeljs.io/docs/plugins/transform-export-extensions/

[2016-08-06 19:02] aviadhahami commented on #41
+1

[2016-08-07 22:24] lakeoffaith commented on #41
+1

[2016-08-08 05:30] lakeoffaith opened #104 "is there some solutions for a text colse to right icon in toolbar"
i want show a text close to right icon in toolbar,is there exist solution for this?any advice will be appreciated

[2016-08-08 22:48] mlabrum commented on #103
We ran into the same issue with most of the react-native modules, the issue is that babel by default won't include and compile `node_modules`.

We ended up writing a  mocha compiler to get babel to compile `react-native-*` node modules (as we also had issues if we just compiled everything...)

[2016-08-09 19:57] joncursi commented on #103
@mlabrum would you be able to paste a gist of what you did to get babel to cooperate? This would be a great addition to open source

[2016-08-10 02:07] joncursi commented on #103
For those looking for a work-around, I found this blog post to be extremely helpful! https://blog.addjam.com/testing-react-native-with-mocha-and-enzyme-6b77cd9e52a1#.88r68mxuz

[2016-08-14 05:53] dantman opened #106 "Searchbar, toolbar menu, navigation drawer account header; react-native-material-ui"
`react-native-material-design` was forked awhile ago `react-native-material-ui`:
https://github.com/xotahal/react-native-material-ui

The author added search functionality to the toolbar, menus, and the account style navigation drawer.

It would probably be a good idea to try and merge the improvements back into this library; instead of making this pattern of forking go beyond just forking the old

[2016-08-15 09:35] Tim-W opened #109 "Drawer API?"
In the (new?) Drawer API, a list of children is required. What do I put here? I cannot find it in the example project nor in the documentation. Better documentation would be great.

![alt text](https://i.gyazo.com/339cf2a31a97228e447bd8455e389201.png "Logo Title Text 1")

[2016-08-15 13:48] Ehesp commented on #109
Children is just whatever is within the component:

[code]

[2016-08-16 13:22] #109 closed

[2016-08-18 17:13] frankandrobot opened #110 "IOS support?"
Says it hasn't been tested on IOS but does it (theoretically) work on IOS?

[2016-08-18 22:29] AndrewNoyes commented on #110
I'm using it on both Android and iOS. I've run into a few times where the components didn't behave the same on iOS as they did on Android, but for the most part it works well.

[2016-08-24 15:57] frankandrobot opened #111 "Filterable title in toolbar?"
As per the material design guidelines (see https://material.google.com/layout/structure.html#structure-toolbars), there is an App bar has a filter icon dropdown that allows you to navigate inside the current View.
(Ex: view closed/open todos).

Does this toolbar support that functionality?

[2016-08-29 19:37] #110 closed

[2016-08-29 19:41] frankandrobot opened #112 "Install fonts in ios?"
I installed the fonts for android and they work fine.
How do I do the same for ios?

[2016-08-30 07:44] jstoeffler opened #114 "Slider range could use min or max value when out of range instead of throwing an exception."
I've used the RangeSlider, and got an error when the min or max value was out of the minRange or maxRange.

I think it could be more tolerant and use the minRange if the min/max is lower than the minRange, or maxRange if the min/max is greater than maxRange.

[2016-08-30 07:46] jstoeffler commented on #114
Oups, wrong repo sorry...

[2016-08-30 07:46] #114 closed

[2016-08-30 14:31] Ehesp commented on #112
You could use `rnpm link` if you have it, otherwise follow: https://github.com/oblador/react-native-vector-icons#ios

[2016-08-30 15:30] mschipperheyn opened #115 "Corrupted image backgroundColor.png"
I use RN 0.32 and I get this error after installation:

index.ios.bundle?platform=ios&dev=true&minify=false&hot=true:28961 TransformError /myproject/node_modules/react-native-material-design-styles/backgroundColor.png: Unexpected character '�' (1:0)

[2016-08-30 15:34] mschipperheyn commented on #115
Restart of packager seems to resolves this though. So, I guess just something to be aware off

[2016-08-30 15:34] #115 closed

[2016-08-31 16:00] shivam17 opened #116 "No documentation for Drawer component"
Please include documentation for Drawer component

[2016-09-01 21:05] wordyallen opened #117 "demo app: MainActivity.java:32: error: constructor StatusBarPackage in class StatusBarPackage cannot be applied to given types"
Hello,
I'm getting the following error, when I run the demo app. I tested on ubuntu and and mac.
Thanks for any help!

[2016-09-02 01:01] CharlesJQuarra opened #118 "DemoApp: dependencies issue"
Just fresh from cloning this repo the problem becomes apparent:

`npm install`

[code]

[2016-09-02 01:02] CharlesJQuarra commented on #117
`npm install` works correctly for you? I'm getting an error about mismatch of react-native version among dependencies https://github.com/react-native-material-design/react-native-material-design/issues/118

[2016-09-02 11:44] Salakar commented on #116
We've not got around to the docs for this, in the meantime there's an example implementation  in the demo app, here: https://github.com/react-native-material-design/demo-app/blob/master/src/scenes/Navigation.js

Feel free to PR some docs if you have the time. 👍

[2016-09-02 11:50] Salakar commented on #118
RN version on the demo repo needs updating, we'll get round to it sometime - should fix this issue on the demo app.

[2016-09-02 16:59] wordyallen commented on #117
I changed the following in MainActivity.java by removing the  `this` keyword.

[code]
However, now I'm getting the following when I start it:

[code]

[2016-09-02 17:04] CharlesJQuarra commented on #118
what is the last working version? since master is broken for the time being, do you have a commit hash that is known to work? I didn't see any branches or tags on the repo

[2016-09-03 06:16] CharlesJQuarra commented on #118
I tried modifying the `package.json` to previous versions of dependencies, and also adding `react`, which seems to be a dependency of `react-native`, but for some reason it is missing on the demo-app repo. These are the ones I tried:

[code]
[here](http://pasteboard.co/glEDjwASK.png) is the link of the "requiring module 627" error screenshot.

[2016-09-04 12:48] MrToph commented on #79
I had the same issue and for me installing and following the instructions for [react-native-vector-icons with gradle](https://github.com/oblador/react-native-vector-icons#option-with-gradle-recommended) was the solution that worked.

[2016-09-10 07:24] jadeydi commented on #74
It has said here: https://github.com/react-native-material-design/react-native-material-design.github.io/blob/master/components/button.md

You have to put button in a parent to resize it.

[2016-09-13 06:42] RajuPilani commented on #86
Add this condition in Navigate.js
[code]
Now, that's working great in RN 0.31+

[2016-09-14 21:39] xotahal commented on #106
I think it's not possible now. Because I changed a way how to use that library.

We needed to have option to completely and very easily change style/theme of the application. For example, it's very hard to set color of first line of list item in react-native-material-design (maybe it's even impossible - don't know if there is any prop).

Of course, you can set couple of things via props of compone

[2016-09-14 21:46] xotahal commented on #104
I had almost same problem. So I worked on [react-native-material-ui](https://github.com/xotahal/react-native-material-ui) that was forked from this library. In that library you can use `Toolbar` component like this:

[code]

Of course, you can pass whatever you want to `leftElement`, `centerElement` and `rightElement`

[2016-09-14 21:52] xotahal commented on #83
I've already done it here - [react-native-material-ui](https://github.com/xotahal/react-native-material-ui/blob/master/src/IconToggle/IconToggle.react.js). There is `underlayColor` prop, or you can use `style` prop.

[2016-09-14 21:57] xotahal commented on #40
I wrote about this problem in issue #106. Your approach is good for one button. But what if you want to set every button in your app. Then you have to go through your app and rewrite every single instance of <Button /> :/

[2016-09-17 00:38] lakeoffaith commented on #104
@xotahal  thank you

[2016-09-20 00:20] jsdevel commented on #112
I believe `react-native link` is the correct command to run now.

[2016-09-22 00:08] ammichael commented on #118
Guys, I'm having dependencies issues too:

[code]

I've tried to update rn to 0.18.1 (read something about this version fixing dupe fbjs) and install react as a dependency, but no lucky too.

[2016-09-22 08:05] shivam17 opened #121 "Error building DependencyGraph: Error: Naming collision detected: /Documents/demo-app/node_modules/react/node_modules/fbjs/lib/warning.js collides with /Documents/demo-app/node_modules/react-native/node_modules/fbjs/lib/warning.js"
facing this error with just npm install and react-native run-android commands for the demo app, if i try to remove one of the packages, the same error comes up with another package and then another.

tried 'npm prune && npm i' command as well. nothing seems to work.

[2016-09-22 17:53] mattferrin commented on #79
I was/am exploring the viability of using this library in conjunction with `react-native-web` and found icons not rendering to be the most obvious issue. It's just something to keep in mind on a similar vein.

[2016-09-23 06:22] shivam17 opened #122 "WebSocketModule.connect got 4 arguments, expected 2 error"
I cloned the demo app, and upgraded the react-native and react versions since they were not working and then ran the app on android and saw this error with the red screen
<img width="315" alt="screen shot 2016-09-23 at 11 49 56 am" src="https://cloud.githubusercontent.com/assets/7270118/18776055/21517066-8184-11e6-8b0a-a64be97cc9f8.png">

[2016-09-23 11:13] shivam17 commented on #118
@Salakar when will the package.json be corrected? We are facing a lot of issues.

[2016-09-23 11:14] shivam17 commented on #118
@ammichael facing this exact issue too.

[2016-09-25 13:46] kengorab opened #123 "Does not work with react-native >0.18"
I follow all the installation instructions, but when I try to use a component I am presented with this error:

`Requiring unknown module "react-native-vector-icons/MaterialIcons". If you are sure the module is there, try restarting the packager or running "npm install".`

This was already reported in #30 back in February, the resolution of which was to downgrade to react-native v0.18, because afte

[2016-09-25 14:39] kengorab commented on #123
So after some investigation, I've found that following the [Android installation steps](https://github.com/oblador/react-native-vector-icons#android) from the [react-native-vector-icons](https://github.com/oblador/react-native-vector-icons) lib actually fixes this issue.

The only change I had to add to my project was to `android/app/build.gradle`:

[code]

The react-native-vector-icons docs say t

[2016-09-27 09:05] shivam17 commented on #118
@CharlesJQuarra are you not facing this issue on using the dependencies you mentioned:

demo-app/android/app/src/main/java/com/demoapp/MainActivity.java:32: error: constructor StatusBarPackage in class StatusBarPackage cannot be applied to given types;
                .addPackage(new StatusBarPackage())
                            ^
  required: Activity
  found: no arguments
  reason: actual and f

[2016-09-28 18:39] chromonav commented on #111
Can you give a small example?
@frankandrobot

[2016-10-06 06:43] shivam17 opened #125 "Not maintaining its custom title when navigating from a child component to previous state when we give the title explicitly in forward() function"
If i give title explicitly while calling forward and then going to a child page of the page and then getting back to the previous page, the title is not maintained, it takes the title from the routes.js

[2016-10-08 22:25] dininski commented on #92
Could you please speicfy how you fixed it?

[2016-10-10 21:56] AbdoulayeKarimTraore commented on #121
@shivam17 deleting one of the fbjs folders is a temporary work around if you are really stuck, i'm having the same problem

[2016-10-16 08:39] ReverseFlash28 opened #127 "Ripple in jellybean"
problem in ripple effect on android jellybean.

the gray color not disappear after the ripple.

[2016-10-19 04:55] O-Luisinho commented on #78
How did you solve this?

[2016-10-22 22:21] IbrahimAmin opened #129 "Missing CoordinatorLayout component"
Guys, first of all: awesome project.
I'm just missing the [CoordinatorLayout ](https://developer.android.com/reference/android/support/design/widget/CoordinatorLayout.html)Component.
Any plans?

[2016-10-23 13:53] mschipperheyn opened #130 "undefined is not an object (evaluating this.refs.input.setNativeProps')"
I think this error is related to the TextInput Component. It happens sometimes when I'm transitioning from a form to another screen (I user Navigation Experimental)

I think it may be related to mounting and unmounting.

<img width="369" alt="screen shot 2016-10-23 at 11 47 15" src="https://cloud.githubusercontent.com/assets/384959/19626782/1698e6cc-9917-11e6-95b7-eeae5eedd138.png">

[2016-10-23 13:54] mschipperheyn commented on #130
Sorry, wrong library

[2016-10-23 13:54] #130 closed

[2016-10-23 16:48] FezVrasta opened #131 "Element type is invalid: expected a string or a class/function but got undefined."
This is my super simple app:

[code]

Without `List`, it works, when I use `List` I get the error in the title. What's wrong?

[2016-10-23 17:01] FezVrasta commented on #131
Oh... seems like it's commented out

https://github.com/react-native-material-design/react-native-material-design/blob/master/lib/index.js#L11

[2016-10-24 08:53] shivam17 opened #132 "ss"
i am getting the attached error message
<img width="242" alt="screen shot 2016-10-24 at 2 23 02 pm" src="https://cloud.githubusercontent.com/assets/7270118/19639275/71d03002-99f5-11e6-99a2-21f76c16a74d.png">

[2016-10-24 08:56] #132 closed

[2016-10-24 11:22] FezVrasta opened #133 "Rounded ripple?"
I tried `<Ripple style={{ borderRadius: 100 }}></Ripple>` but it's still a square...

[2016-10-25 07:19] shivam17 commented on #60
what was the solution to this problem?

[2016-10-25 18:24] Ehesp commented on #131
List isn't complete yet. It's returning an invalid component hence the
error.

On 23 Oct 2016 5:48 pm, "Federico Zivolo" <notifications@github.com> wrote:

[2016-10-26 04:04] chuan137 commented on #85
use the primary colors defined in this library

[2016-10-27 01:28] O-Luisinho opened #135 "This is still running?"
Cant make this work, just cloning and doing npm install, then it start lots of errors on android emulator...

[2016-10-31 16:00] dininski commented on #135
Maybe you could provide some error message that you might be receiving, or the exact steps you are taking in order to reproduce it?

[2016-12-12 09:25] nghiatv commented on #112
`react-native link`. its work

[2016-12-12 12:34] #112 closed

[2016-12-27 21:10] marco-lavagnino opened #142 "Misaligned components"
I'm using react native 0.39.2
Here, in the drawer I used almost the same code as in the example, and items leave a gap between item name and item icon.
![drawer](https://cloud.githubusercontent.com/assets/8427482/21508306/d25f644c-cc5e-11e6-8153-9737c984f88f.png)
Buttons show text not properly centered and too close to the bottom.
![reset_button](https://cloud.githubusercontent.com/assets/8427482/

[2016-12-29 13:18] schneckentempo commented on #142
Had the same problem.

Change in `Button.js`:
`top: Platform.OS === 'android' ? 2 : -4`
to
`top: Platform.OS === 'android' ? -2 : -4`

somehow I couldn't manage to center the text with justifyContent and alignItems as I did with my own Buttons, is this because of the elevation-polyfill?

[2017-01-17 14:28] axlider opened #143 "error in demo-app"
After installing and running the demo app, i get an error:

:react-native-splashscreen:processReleaseResources
Unknown source file : warning: string 'catalyst_debugjs' has no default translation.
Unknown source file : warning: string 'catalyst_element_inspector' has no default translation.
Unknown source file : warning: string 'catalyst_jsload_error' has no default translation.
Unknown source file

[2017-01-23 17:11] ajaysaini-sgvu opened #144 "How to use toolbar in react native android application"
I am learning react-native programming where I am trying to integrate http://react-native-material-design.github.io/installation for material design.

I want to use this http://react-native-material-design.github.io/components/toolbar view in my application as there is no such documentation for how to use it.

Can anyone help me how can I use this view in my application. Thanks in advance.

PS: I

[2017-01-24 18:12] gs-akhan opened #145 "Is this project Maintained..?"

[2017-01-26 12:28] dantman opened #146 "Ripple elevation property is incompatible cross-platform"
The `elevation` property for the `<Ripple>` component in `lib/Ripple.js` does not work properly cross-platform.

On Android the `elevation` property is passed to a `View`. Passing a number works, passing an array causes an `Error while updating property 'elevation' of a view managed by: RCTView` error.

On iOS the `elevation` property is passed to the `<Ripple>` polyfill component in `lib/polyfill

[2017-01-26 12:33] dantman commented on #146
Ideally polyfill/Ripple would drop the elevation array, Ripple would instead implement it, Ripple would also accept a number when the elevation doesn't change, and Button and other components would stop re-implementing elevation changes on tap and the cross-platform handling that Ripple does.

[2017-02-09 06:13] dantman commented on #145
Commits seem few and far between now.

[2017-02-22 18:05] jrmendozat opened #147 "Wrong Path for strings.xml"
Original path in your Readme file:
android\app\src\res\values

Correct path:
android\app\src\main\res\values

[2017-02-25 02:34] surdu opened #148 "List documentation is missing"
http://react-native-material-design.github.io/components/list

See? :smile:

PS: ah, sorry, now I see there are a lot of them that are not documented. I guess there was no time :smiley:

[2017-02-26 01:56] #148 closed

[2017-03-03 23:58] dantman commented on #145
@Ehesp @mlabrum @Salakar Maintenance of this repo needs to be opened up.

[2017-03-04 09:27] Ehesp commented on #145
Happy to open it up however I need to know who's willing :)

[2017-03-30 18:00] cdimitroulas opened #150 "Cannot use color mappings of primary colours"
Hey,

I am trying to change the colour of the Checkbox component using the 'primary' prop however this seems to only accept one of the options from the PRIMARY_COLORS array.  I would like to have a color mapping of googleGreen 400 rather than the default 500. I tried something like this but it didn't work:
[code]

Is there a way to achieve this?

[2017-04-03 06:01] SanyasiraoM opened #151 "Reg generating docs for components"
Hi, How did you guys generated the documentation as like in http://react-native-material-design.github.io

Did you guys used any automation tools?

@bozzmob  @Ehesp  @Salakar Can you look into this?

Thank you :)

[2017-04-03 06:19] Ehesp commented on #151
Nothing is used to generate them at the moment. All manual.

Would probably be best to move away from from site and keep them within the
repo

On 3 Apr 2017 7:01 am, "SanyasiraoM" <notifications@github.com> wrote:

Hi, How did you guys generated the documentation as like in
http://react-native-material-design.github.io

Did you guys used any automation tools?

@bozzmob <https://github.com/bozzmob>

[2017-04-03 06:20] SanyasiraoM commented on #151
Thanks for reply :)

[2017-04-03 06:20] #151 closed

[2017-04-10 14:15] dennisobel commented on #78
did you find a solution to this?

[2017-04-10 14:28] Ehesp commented on #78
I suggest you guys look at `react-navigation`, much better solution.

[2017-04-12 21:11] dantman commented on #145
It also appears that the latest code has not been published to npm. The npm version still has a broken Checkbox label due to missing styles.

[2017-04-22 07:30] dantman commented on #145
@Ehesp How do you feel about this being merged with [react-native-material-kit](https://github.com/xinthink/react-native-material-kit) into a new library? Would you officially forward people to the new lib?

[2017-04-22 16:26] Ehesp commented on #145
@dantman I'm open to it for sure, however that project hasn't been updated in a couple of months D:

[2017-04-25 14:47] dantman commented on #145
I've started drafting an idea/proposal for what a library based off of rnmd and rnm-kit would look like.
https://gist.github.com/dantman/7dd9a78250c6a3bf6a4220afd4d75b88

[2017-04-25 14:50] gs-akhan commented on #145
@All. I will be more than happy to maintain this, or contribute to substitute of this project.

Please keep me in loop.
Thanks

[2017-04-28 06:36] pouu69 opened #153 "Unrecognized font family 'Material Icons'"
[code]
[code]

An error occurred after adding the checkbox.
`Unrecognized font family 'Material Icons'`

why?

[2017-04-28 07:02] Ehesp commented on #153
You need to install `react-native-vector-icons`, described in the README I believe!

[2017-04-28 07:06] pouu69 commented on #153
okay thx work very well

[2017-04-28 07:06] #153 closed

[2017-05-03 07:16] dantman commented on #145
I've started working on this. Once I finish the ripple stuff and get into components I'll try to share it around and combine this discussion and the one in rnmd-kit together.

[2017-05-03 13:24] gs-akhan commented on #145
@dantman  That is amazing.  I am in for this...

[2017-05-03 13:57] Ehesp commented on #145
@dantman let me know how you plan on migrating or whatever, happy to help out.

[2017-05-05 10:19] thibbo opened #154 "Overriding a style"
Hello,
I've implemented a component button but I'd like to override the style; for instance moving the text to center it properly. I can't find how to do so.
Any thoughts ?

[2017-05-09 21:01] DavitVosk commented on #154
also with override object, the textColor, backgroundColor, and rippleColor can't be changed. Please solve the issue

[2017-05-10 00:10] dantman commented on #145
I'm still working on the library, I still need to work on components and some of the theme handling, but it has colors, shades, typography, easing, and an initial ripple implementation (may need a bit more work):
https://github.com/material-native/material-native

[2017-05-10 00:27] wswoodruff commented on #145
Hey guys! I come here from the other side, issue #320 loL

[2017-05-10 03:53] wswoodruff commented on #145
Yooo!! Got a demo working with strangeluv-native, you guys get your own [recipe branch](https://github.com/wswoodruff/strangeluv-native/compare/recipe-material-native)! I'll eventually phase out material-kit for this one. Awesome stuff @dantman and contributors!

![strangeluv-native-material-native](https://cloud.githubusercontent.com/assets/9013245/25882570/2ab47508-3512-11e7-9995-87972bfcca47.gi

[2017-05-10 08:29] thibbo commented on #154
@DavitVosk actually, it can, but you must choose specific color variables (those from the library itself). I managed to do it eventually

[2017-05-15 18:39] SelaOren opened #155 "Docs for Drawer"
The docs for Drawer are empty:

![image](https://cloud.githubusercontent.com/assets/21977571/26073075/5595f49c-39b6-11e7-999a-951f7e93b6fe.png)

A few more of them like the Toolbar are empty too, where can I find the docs for them?

[2017-05-15 19:19] SelaOren commented on #109
How do you make it appear?

[2017-06-08 15:59] shashwattt opened #156 "Demo App - Unable to update"
I clone and ran Demo app, with little tweaks it ran successfully.
However on updating` index.android.js` or any other file and re-running `react-native run-android` it does not reflects any changes, I am using an external device.

I could I be doing wrong, please help

[2017-06-14 09:28] kumarks1122 commented on #73
Buttons only will take object as styles if we pass object.
We can apply the style for button as following,

apply like ->
`<Button style={styles.buttonStyle}><Text>Login</Text></Button>

const styles = {
    buttonStyle: {
         backgroundColor: "#aaa"
    }
}`

instead of

`<Button style={styles.buttonStyle}><Text>Login</Text></Button>

const styles = StyleSheet.create({
    buttonStyle: {

[2017-06-20 03:06] jeaye commented on #123
I think this should be closed, since #124 addressed it.

[2017-06-26 12:52] piotr-cz commented on #85
Is it possible to set custom color?

[2017-07-01 01:47] JVRodrigues256 opened #157 "Add style to CheckboxGroup"
Hello, I'm using CheckboxGroup to show users multiple checkboxes, however I still have some doubts.

Is there any way to add a style to the CheckboxGroup? 'style={styles.checkboxgroup}' does not seem to work.

When I add a CheckboxGroup with several Checkboxes, all are shown vertically, I would like to add a style so that the Checkboxes are displayed horizontally.

[2017-07-01 13:19] vshy108 opened #158 "The checkbox text is not align-items to center"
![image](https://user-images.githubusercontent.com/808926/27762349-c63c52e8-5ea2-11e7-83ae-8ed78309d7bb.png)

[2017-07-05 07:42] akash-cp commented on #21
I have tested on android 6 and its very slow.
My code:
[code]

[2017-08-02 04:47] majus28 opened #161 "Button Background Color Change!"
How Can I Change Button Background Color

[2017-08-02 10:29] gokulkulkarni1987 opened #162 "Button text not aligned"
I am using the following code to display a button,

[code]

[2017-08-03 11:37] gokulkulkarni1987 commented on #162
Thank you, but because of such issues, i stopped using this library.

[2017-08-10 13:18] yhw601071569 opened #163 "How to call an Android alarm in the react native"
I would like to call in the native android local alarm equipment，I would like to call in the native android local alarm equipment, but I found in the official website and other places did not find a similar component，Do you know what components or existing libraries can call Android alarms?

[2017-08-10 14:50] Ehesp commented on #163
No sorry, you'd need to write your own native component.

[2017-08-10 14:50] #163 closed

[2017-08-15 06:44] exos commented on #131
Why is commented?

https://github.com/react-native-material-design/react-native-material-design/blob/631ce260b8405a4f033cfb94a8ce19f804ea2582/lib/index.js#L11

It's means the demo app don't work

[2017-08-24 03:28] Kudzai3 opened #164 "How to set Media width?"
I have a large image which I would like to fit in my card, I tried adding a style with resizeMode set to contain, with the width but this achieved nothing.
The properties only have height (there is nothing mentioned about width), how can resize the image?

[2017-09-21 07:45] vysakhcv opened #165 "app:compileDebugJavaWithJavac FAILED"
error: constructor RCTSplashScreenPackage in class RCTSplashScreenPackage cannot
 be applied to given types;  **.addPackage(new RCTSplashScreenPackage(this))**

Please help me to fix this error !

[2017-09-21 07:54] vysakhcv commented on #165
i have removed  **.addPackage(new RCTSplashScreenPackage(this))**  this line from Activity.. Now Worked.. whats the problem of this line?

[2017-09-26 12:11] DaveBben opened #168 "App Drawer Icons have no Padding"
![drawer](https://user-images.githubusercontent.com/12903207/30859384-78fd1dea-a291-11e7-88d5-7d3a995965c4.PNG)
For some reason, the icons in my app drawer are against the edge of the screen without any padding. My code is almost exactly like the demo. Applying any sort of styling to the Drawer.section has no effect.
[code]

[2017-09-26 21:18] cblair commented on #103
I'm having this exact issue as well.

[2017-10-09 14:39] juanriglos opened #169 "Update"
Hello,

Will be any updates for new versions?,
i am having problems to debug this one,

Thanks!

[2017-10-09 18:29] juanriglos commented on #60
?

[2017-10-14 19:22] BarthesSimpson opened #170 "Update PropTypes library"
You're still using `import React, {Component, PropTypes} from "react";`. This is deprecated, and will be removed completely in React 16. You need to import PropTypes from the separate library prop-types.

[2017-10-16 08:57] CasDigital opened #171 "Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in."
I keep getting this when I run the react-native run-android on this template.
It outputs:
This error is located at:
in RTCView (at View.js:113)
in View (at AppCountainer.js:102)
in RTCView (at View.js:113)
in View (at AppContainer.js:126)
in AppContainer (at renderApplication.js:34)

I am really not sure what this is.

[2017-10-16 09:48] CasDigital commented on #171
I solved it by following this: [https://github.com/react-native-material-design/react-native-material-design/issues/165]

[2017-11-08 16:56] BenCook28 opened #173 "Cannot read property 'oneOf' of undefined in 0.3.7 in React Native"
I tried bringing your Toolbar component into a React Native 0.49.5 project, and brought in your other files needed to remove error messages.  I traced the error in the title to a cryptic node module, and I never explicitly use oneOf.

![image](https://user-images.githubusercontent.com/27933795/32562089-cdcac438-c47b-11e7-92d6-42291b7307b3.png)

[2017-11-13 11:07] HemrajLodha commented on #173
I also got same issue. unable to find PropTypes in react lib.

[2017-11-13 11:12] HemrajLodha opened #174 "update for PropTypes"
undefined is not an object (evaluating 'react2.PropTypes.oneOf')
please update library.

[2017-11-16 00:21] dilowagner commented on #174
The same problem!

Node: v8.9.1
npm: 5.5.1
react: 16.0.0-beta.5
react-native-cli: 2.0.1
react-native: 0.49.5

[2017-11-21 12:09] GAVISHSETHI opened #175 "Cannot read property 'replace' of undefined"
after installing material design create react-native-app project it throws this error

xdl/src/Project.js:920
  let path = parts[1].replace(/`: Module .*/, '').replace(/`/, '').trim();
                      ^
TypeError: Cannot read property 'replace' of undefined
    at _parseModuleResolutionError (/xdl/src/Project.js:920:23)
    at _logModuleResolutionError (/xdl/src/Project.js:963:44)
    at _lo

[2017-11-22 19:27] QingpingMeng commented on #165
looks like RCTSplashScreenPackage needs one more bool parameter.
 .addPackage(new RCTSplashScreenPackage(this, true)) works for me

[2017-11-28 03:51] alfonso1003 commented on #174
Same problem.

`React.PropTypes` has been deprecated as PropTypes has been moved out of the standard library since React v15.5.
https://reactjs.org/warnings/dont-call-proptypes.html

I grepped the `react-native-material-design` codebase, and it seems that `react-native-vector-icons` in the node_modules directory is still using React.PropTypes. **`react-native-vector-icons` in `react-native-materia

[2017-11-30 09:12] 0es commented on #165
the same problem
Why not fix it?

[2017-12-01 06:14] ulaserdegor commented on #173
I have the same error.

[2017-12-22 09:22] chenop commented on #28
I think this issue relates to

Here is a [link](https://github.com/binggg/react-native-material-design-styles/issues/2) to the relevant issue

[2017-12-24 14:24] ShaikhKabeer commented on #173
Remove import {PropTypes} from 'react-native' and place import PropTypes from 'prop-types'.  Do it manually

[2018-01-24 17:43] innovationsbg opened #176 "Error in demo app."
I get this error after react-native run-android:

  found: MainActivity
  reason: actual and formal argument lists differ in length
1 error
:app:compileDebugJavaWithJavac FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:compileDebugJavaWithJavac'.

[2018-01-26 16:11] andyhappy1 commented on #176
I'm getting same error.  Commenting so I'll be updated on fixes.

[2018-01-27 22:40] Nikaoto commented on #176
As an android developer, I get this error sometimes. What this usually means is that my android build tools version or some of my dependencies are outdated. You can update the build tools version by going into the `android/app/build.gradle` file and changing these two lines of code:
[code]
The versions in your app may differ.

As of today, the latest versions are 26 and '27.0.3' respectively, so r

[2018-01-30 03:58] MinhNQ90 commented on #174
Any update ? Still got the same error :(

[2018-02-01 17:19] rafarosa92 opened #177 "error npm"
I'm try both user with sudo and sudo su, but error persist.

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node',
1 verbose cli   '/usr/bin/npm',
1 verbose cli   'i',
1 verbose cli   'react-native-material-design',
1 verbose cli   '--save' ]
2 info using npm@5.6.0
3 info using node@v8.9.4
4 verbose npm-session fed65766ce3a94ff
5 silly install loadCurrentTree
6 silly install readLoc

[2018-02-01 17:20] rafarosa92 commented on #177
I'm try chmod 777 -R, but does not working

[2018-02-15 06:19] dottnit commented on #86
Can you specify the path? I'm on react-native0.49.5

[2018-02-15 06:23] dottnit commented on #174
even I'm struck with the same. It'll be really useful, if devs turn up

[2018-02-19 01:03] arnoldbird commented on #175
Probably a duplicate of https://github.com/react-native-material-design/react-native-material-design/issues/174

[2018-02-19 02:40] arnoldbird commented on #174
The short-term fix is to install react-codemod and use the React-PropTypes-to-prop-types.js script as described at https://github.com/reactjs/react-codemod#react-proptypes-to-prop-types

[2018-02-20 09:25] iamrenzx commented on #174
Also have this error on fresh installed react-native

    "react": "16.0.0",
    "react-native": "0.51.0",
    "react-native-material-design": "^0.3.7",
    "react-native-vector-icons": "^4.5.0"

[2018-03-01 15:16] loongdefect commented on #174
same error

[2018-03-05 10:13] selvananbu opened #179 "App crashes when offline bundle is created"
Hi all i use the following line of code and when i tried to create release apk it crashes.Any help is appreciated.

`import { Button } from 'react-native-material-design';
export default class App extends Component<Props> {
  render() {
    return (
      <View style={styles.container}>
     <Button  text="NORMAL FLAT" onPress={()=> console.log("I pressed a flat button")} />
      </View>
    );

[2018-03-06 23:57] danilocecilia commented on #174
same error here =(

[2018-03-23 16:13] hedrovich commented on #174
same

[2018-04-13 09:29] jason5149 commented on #174
same error
[code]

[2018-04-25 10:27] jiteshwadia commented on #173
Error is still there.

[2018-04-27 10:55] Zephyer7673 commented on #174
same problem here :( , any solutions ???

[2018-05-01 14:50] javan10 commented on #174
same problem.

[2018-06-06 23:00] raideltorres commented on #173
Also getting this error

[2018-06-24 03:02] moorthi07 commented on #174
Same error.  This package is not updated to support PropTypes separation yet.

[2018-07-05 20:14] asifalikhokhar commented on #173
I am also getting this error, any work around?

[2018-07-06 10:35] Rohit-shopasky opened #180 "react-native-material-design gives error in createIconSet"
When i upgrade the react version it throws error in create-icon-set file
![screenshot](https://user-images.githubusercontent.com/17253032/42374616-4715d96e-8136-11e8-8a05-ee1ef84ae30f.png)

[2018-07-15 07:41] skptricks commented on #74
Refer this post : https://www.skptricks.com/2018/07/how-customize-button-in-react-native.html

[2018-08-09 13:39] mehulTank opened #181 "i am getting this error"
i am new in react native . i am running this app but getting this error . can any one help me in that

What went wrong:
Could not determine the dependencies of task ':app:compileDebugJavaWithJavac'.

     Required by:
         project :app

     Required by:
         project :app

[2018-12-10 11:19] vivekpchrome opened #185 "Fetching JS Bundle"
When I run the app it shows me Please wait .... Fethching JS bundle and it goes infinite . I have restarted  the server , device all but same error

[2019-01-07 09:50] FURQAN2050 commented on #180
same issue :( ...any solution avaliable?

[2019-03-27 11:31] ibilalbashir commented on #73
please delete react native from this universe. it is made to test your patience, not to develop something

[2019-04-30 20:14] #29 closed

[2019-05-16 12:55] miodrage commented on #28
If linking fails you might want to run this:

rn-fetch-blob will not automatically add Android permissions after 0.9.4 please run the following command if you want to add default permissions :

	RNFB_ANDROID_PERMISSIONS=true react-native link

[2019-07-06 14:45] ArthurEgide commented on #73
I'm with the same problem.
Button it's needed to have "title" and put the "<Text>" tag don't change anything because only the title appeas on button box.

[2019-07-25 06:26] ft-worker commented on #173
I've get this error after installing **[react-native-multiple-select-list](https://www.npmjs.com/package/react-native-multiple-select-list)**. Solved this error by installing **[prop-types](https://www.npmjs.com/package/prop-types)** library, because this lib used to use **[react-native-vector-icons](https://www.npmjs.com/package/react-native-vector-icons)** lib which imports PropTypes from 'prop-

[2019-07-25 06:27] SergeyIsakhanyan commented on #173
I've get this error after installing **[react-native-multiple-select-list](https://www.npmjs.com/package/react-native-multiple-select-list)**. Solved this error by installing **[prop-types](https://www.npmjs.com/package/prop-types)** library, because this lib used to use **[react-native-vector-icons](https://www.npmjs.com/package/react-native-vector-icons)** lib which imports PropTypes from 'prop-

[2019-10-22 10:35] nitinAct commented on #173
we can't do manually in so many files it's like stupidity. is there way to resolve this

[2019-10-30 08:34] RukshanRanabahu commented on #174
Same problem
TypeError: Cannot read property 'replace' of undefined
any solution please?

[2019-12-12 13:03] engrrbilal commented on #74
In React Native you can achieve it using a Button inside a View and set the width of View
import { View, Button } from "react-native";
 <View style={{ width: 200}}>
            <Button
              title="Login"
            />
</View>

[2019-12-12 13:08] engrrbilal commented on #74
In React Native you can achieve it using a Button inside a View and set the width of View
`import { View, Button } from "react-native";
<View style={{ width: 200}}><Button title="Login"/></View>`

[2019-12-19 07:52] usamaabrar22 commented on #74
@engrrbilal You are right.

[2020-02-23 03:27] smartdev021 opened #186 "update for PropTypes"
undefined is not an object (evaluating 'react2.PropTypes.oneOf')
please update library.

[2020-02-23 03:30] smartdev021 opened #187 "Overriding a style"
I've implemented a component button but I'd like to override the style; for instance moving the text to center it properly. I can't find how to do so.

[2020-03-02 15:13] AliJalili78 commented on #74
Just creact a View and declare a width to it.
then put your button in that view
<View style={{width = '40%'}}
     <Button title = "..."/>
</View>

[2020-12-07 14:23] Typical-dev commented on #73
React native should'nt exist and thats a fact.

[2020-12-22 08:15] santhoshkumarvgds commented on #73
<Button
            buttonStyle={{backgroundColor: 'white', color: 'red'}}
            color="red"
            titleStyle={{
              color: '#f75b5b',
            }}
            title="Continue"
            raised={true}
            onPress={storingDomain}
          />